[2015-05-23 16:22] jasonLaster commented on #2568
AttachView is honestly really neglected.

I say that because it doesn't come up often. Also I am not sure if it should have the attach events.

Another thought, should show call attachView?

Last comment, I'd support for adding _parent support to attachView. Both adding the reference to the new view and removing the reference for the old view

[2015-05-26 14:07] JSteunou commented on #2002
For those interested I look at rendrjs and I cannot see how it could works with Marionette.

But, with Backbone 1.2, getting rid of jQuery and using [cheerio](https://github.com/MatthewMueller/cheerio) as in [this gist example](https://gist.github.com/nhunzaker/9676031) seems possible. My concern is now, how to get the app started on the front-end side without erasing all the node already present

[2015-05-26 16:14] RealAdamSinger opened #2570 "Callbacks for when multiple views are shown or removed from collection view"
It would be helpful to have an event fired on a collection view when multiple views have been shown or removed.
This would be useful for efficient scrolling, animations, and auto selection logic for lists.
perhaps an "onShowChildren" callback and "show:children" event would make sense, and then the same for removing views.

I haven't fully developed this yet but the main effect would be the follow

[2015-05-27 14:11] jbarreiros opened #2572 "showChildView() options"
I have a situation where I have a region and its view can be one of two Views, which may be swapped later.

[code]

Turns out `showChildView` does not take an `options` hash. Is this by design?

[2015-05-27 16:50] sehmaschine commented on #2559
any workaround in the meantime? because the mentioned solution doesn't seem to work (well, at least with my setup) ...

I've installed (via npm):
* backbone 1.1.2
* backbone.marionette 2.4.1
* jquery 2.1.4

For testing purposes, my main.js just contains:
[code]

Still, I do see "Uncaught TypeError: Cannot read property 'Deferred' of undefined" referring to `Marionette.Deferred = Backbone.$.Deferre

[2015-05-27 17:29] jridgewell commented on #2559
@sehmaschine: You're requiring `Marionette` before you set `Backbone.$`. Instead:

[code]

[2015-05-27 17:32] sehmaschine commented on #2559
@jridgewell that doesn't make a difference (already tried all kinds of variations).

[2015-05-27 19:05] jgerigmeyer commented on #2559
FWIW, you can workaround this issue using Webpack by specifying an ``alias`` for ``backbone`` and ``underscore``, to force Webpack to use the latest versions only:

package.json:
[code]

webpack.config.js
[code]

[2015-05-28 01:19] paulfalgout commented on #2572
I think it was likely an oversight.  I'd love to see a PR for this.  If you're up for it, please PR against the `next` branch.

[2015-05-29 05:23] johannes-photobox commented on #2559
@jgerigmeyer but this might break some functionality of Marionette since it doesn't support Backbone 1.2.0 yet. I think the best workaround for now is:

[code]
;) Until the next update at least...

[2015-05-29 10:10] DriverEntry opened #2573 "Marionette.CollectionView._onCollectionAdd uses `opts.at` improperly."
Thits is how `_onCollectionAdd`, handling `Backbone.Collection` `add` event, determines the child view index.
[code]
The problem is adding an array of models in a collection raises `add` event for each model with the same value of `opts.at`. This makes all the child views to be inserted at the same index i.e. in a reverse order if `opts.at` is specified. jsFiddle http://jsfiddle.net/m00ksmjp/10/.

[2015-05-29 16:42] abzainuddin commented on #2130
+1 Never understood why it was recursive is the default in the first place...

[2015-05-29 16:52] Sophia-nguyen opened #2575 "How to show one view (with model is different) by one region."
Hi all,

I have one region and one view.
I use:  region.show(view).
And then I reset view with new model.
And I want show view again by region.show(view).

Please help me!
Thanks.

[2015-05-29 16:56] paulfalgout commented on #2575
Almost always you should build a new view for your new model to show and not reuse the other one.

Please join us on gitter https://gitter.im/marionettejs/backbone.marionette  There's many people who can help with these kinds of questions there.

[2015-05-29 16:56] #2575 closed

[2015-05-29 17:33] Sophia-nguyen commented on #2575
HI Paulfalgout,

About my issue, can i remove view in region before show view a gain?

[2015-05-29 17:34] paulfalgout commented on #2575
when you show a view in a region it will remove and destroy the previous view.

[2015-05-29 21:23] ashtonwar opened #2576 "Marionette w/ browserify + babelify requires downgrading and inline shim"
Whilst trying to include Marionette w/ browserify + babelify I encountered [this issue](https://github.com/jashkenas/backbone/issues/3291).

This es6 shim should have fixed the issue:

[code]

In the latest version (6.1.2) of babelify this transpiles to:

[code]

jQuery obviously needs to be added before Marionette is required. Downgrading Babelify to 5.0.5 resolved this. I also downgraded Backbon

[2015-05-31 07:49] rvnath opened #2577 "problem with nested layout views"
I am creating nested layout views in my application.  Essentially the outer layout view creates and adds the DOM elements and regions required for inner layout.  Inner layout then renders its own child views inside of its own sub regions.

I have posted this question with detailed problem description at stackoverfow here. http://stackoverflow.com/questions/30554514/marionette-nested-layouts-unable

[2015-06-01 02:15] paulfalgout commented on #2577
Don't override `render`  use the `onRender` hook.  It looks like someone has already posted that to SO. Please join us on gitter with additional questions https://gitter.im/marionettejs/backbone.marionette

[2015-06-01 02:15] #2577 closed

[2015-06-01 13:22] bretcj7 commented on #725
What was the answer to this question @moimikey ?  We are having a similar issue trying to access the ui hash element off the layout and it being empty.

[2015-06-01 15:11] stevewillard commented on #2559
Just want to confirm that things seem broken when you use Backbone 1.2.0 (at least, when using Webpack).

[code]

It says that it can't read "radio" of undefined -- looks like Wreqr is not being attached to the Backbone object. I can provide more details if it helps anyone.

[2015-06-01 15:44] paulfalgout commented on #2559
@stevewillard I suspect this is due to `wreqr` also having it's dependencies set to a lower version.  https://github.com/marionettejs/backbone.wreqr/blob/master/package.json#L42

I'm not a webpack user, but it seems like the alias listed above would solve that issue.

[2015-06-01 15:53] jgerigmeyer commented on #2559
I understand it's not officially supported, but FWIW I've been using Backbone 1.2.0 with Underscore 1.8.3 and Marionette 2.4.1 without trouble so far.

[2015-06-01 16:05] stevewillard commented on #2559
@paulfalgout Unfortunately, I tried that and it doesn't seem to work.

I think I'm done messing with configuration files for now... I'll just wait for Marionette to bump the Backbone dependency and hopefully things will sort out.

[2015-06-01 22:03] realalexhomer commented on #2559
+1

I cannot figure out a way currently to use Browserify with Marionette.

I am using Backbone 1.1.2 and Marionette 2.4.1 with the latest version of Browserify to set up a new project and this issue (Cannot read property 'Deferred' of undefined) is essentially stopping me from getting anywhere. I've tried everything suggested in this and other threads I've seen to no avail.

Can anyone think of a

[2015-06-01 22:08] realalexhomer commented on #2559
Whoops, got it working just after I posted that comment. Doing a fresh npm install fixed the issue (after downgrading to Backbone 1.1.2 from 2.0.0).  :neckbeard:

[2015-06-02 08:36] cybernetlab opened #2578 "Reverse order in collection when items added with 'at' option"
I think that I find a bug. Suppose you have a collection, associated with CollectionView instance. When you add a bunch of items (not one by one, but via array of models) to collection with 'at' option (to insert items at specified position) supplied, then child views added in reverse order. [Example on jsfiddle](https://jsfiddle.net/e76hak6g/5/). Code:

[code]

The result is:

[code]

But I'm exp

[2015-06-02 15:03] paulfalgout commented on #2578
Possible dupe of https://github.com/marionettejs/backbone.marionette/issues/2573

[2015-06-03 10:53] #2562 closed

[2015-06-03 13:57] kv-bpatram commented on #2576
I don't think this will be an issue once marionette releases an update to use Backbone 1.2.0 since Backbone now requires jquery automatically.

[2015-06-03 22:57] paulfalgout opened #2581 "Get coverage up to 100% for next"
We lost coverage recently https://coveralls.io/builds/2719284

Some additional tests should be written to maintain 100%.

[2015-06-04 18:40] sterpe commented on #2446
I'm  guessing this is related...
[code]

Still, how should one resolved this?

[2015-06-04 18:48] JustBlackBird commented on #2446
@sterpe you can try 1.8.3. It seems that it works just fine for the most of use cases (actually I did not face any problems).

[2015-06-04 21:05] jmeas opened #2582 "showChildView should return `this`, not a region instance"

[2015-06-04 23:48] sterpe commented on #2446
Thanks.

Sent from my iPhone

[2015-06-08 04:02] KeyHui opened #2583 "How to adapt backbone 1.2.1 ?"
How to adapt backbone 1.2.1 ? thank you

[2015-06-08 14:59] Seebiscuit opened #2584 "Why does CollectionView.reorder() resort to rendering the view if its children have been filtered?"
From the 2.4.1 source (abridged), `src/collection-view.js#L135`:
[code]
So, after a short discussion with @ahumphreys87 we talked about how paging functionality may be unpredictable if the filter collection were resorted. But, I simply don't see it that way. For the following two reasons:

1. If the end-user filtered the list and wants to sort, the user doesn't suddenly want to sort the whole list

[2015-06-08 18:46] cmaher commented on #2584
If the children have changed, the CollectionView then has to remove old children, and render + insert new children. IIRC, `reorder` is intended as a more efficient `sort`, moving existing DOM elements rather than worrying about whether or not a view is rendering something depending on its sort order.  Since the filter can also depend on the order, we need to explicitly account for that case.

Hand

[2015-06-08 19:18] ahumphreys87 commented on #2584
yeah so the way sorting works is it will sort based on the comparator in the collection, so we sort the based on the whole collection passed into the view.

However like @cmaher has said `reorder` is intended to be more efficient - however the `modelsChanged` check that you removed in your sample does more then check for filters. What if model is silently added the to the collection and then sort

[2015-06-08 19:44] flmmartins opened #2585 "marionettejs.com is down"
Tried to access marionettejs.com from Chrome and Firefox and the following error appear:

-----

The page you are looking for cannot be found.

Similar results are provided below, or you can try another search

Search site
To find the missing content, try these steps:

Visit the domain home page
Reload this page
Search for the missing content with the search box above
Loading...

SmartErrors power

[2015-06-09 13:01] shakhar opened #2586 "undelegateEvents is not called in certain scenarios where it needs to be called."
marionette destroy event triggers before the events are undelegated. This sometime cause undelegateEvents function to doen't call on view destroy.

[2015-06-09 14:20] spenoir opened #2587 "region attachHtml default when template: false"
When `template: false` on a view that you attach using a Region, it doesn't make sense to `this.el.appendChild(view.el);`. I know I can just override it but why not just make it the default like this:

      ...
      // Override this method to change how the new view is
      // appended to the `$el` that the region is managing
      attachHtml: function(view) {
        if (view.template !== fals

[2015-06-09 16:42] #2585 closed

[2015-06-09 21:24] paulfalgout commented on #2586
Can you create a code (jsbin/jsfiddle) example of this?

It does look like event unbinding was moved after the [destroy event](https://github.com/marionettejs/backbone.marionette/commit/ca7a423dee4fe3fd1b48f305ff5ffa50f11c4da5), and I'm not exactly certain why, but I don't know how that would prevent `undelegateEvents` from being called.

[2015-06-11 09:46] frankcortes opened #2590 "A more efficient CollectionView's Filter()"
Hi everyone, I'm a Marionette fan who enjoys your nice framework. My question is about the new 'filter()' functionality (http://marionettejs.com/docs/v2.4.1/marionette.collectionview.html#collectionviews-filter).

In your docs, you encourage me to use `render()` function to 'render again' the `CollectionView` when I have modified the filter to display the changes. However, this behaviour will rend

[2015-06-11 13:54] cmaher commented on #2590
I'd be hesitant to change how the render function works, since a lot of implicit behavior relies on that. However, in the [original PR](https://github.com/marionettejs/backbone.marionette/pull/2261), there was discussion around a possible `setFilter` method, which I think would be able to handle the more efficient rendering you propose.

[2015-06-11 14:25] frankcortes commented on #2590
I agree with you. In my view, this 'efficient rendering' shouldn't be directly in `render()` function. The expected functionality for `render()` is to remove the previous DOM and build the whole new structure according with its state. Maybe, an extra method like `setFilter` could be a great idea.

[2015-06-11 14:44] cmaher commented on #2590
A PR would be great, as long as someone else from @marionettejs/marionette-core thinks this should go in 2.x

[2015-06-11 18:08] ianmstew commented on #2590
I think this is a great idea.  `2.4.2` is wrapped up and at this point we are working toward v3.  @frankcortes open up a PR against `next`, the eventual v3, and if there ends up being a `2.4.3` then we can cherry-pick it.

[2015-06-11 18:11] paulfalgout commented on #2590
I'm currently hoping for a `2.5` but similarly I'd prefer this pulled againt `next` and if we need/want to cherry pick it for a `2.x` great.  Seems like a good addition.  The `minor` branch is kind of dead in the water at the moment.

[2015-06-11 21:04] thejameskyle commented on #1447
Closing this as part of cleaning out old issues. Feel free to reopen this.

[2015-06-11 21:04] #1447 closed

[2015-06-12 14:43] Seebiscuit commented on #2584
@cmaher Let me see if I understand what you're saying (I read your statement only 44 times). Since the `filter` passed into the view is a function, and that function may use order as a parameter in the filter, it may come out that after a sort, the newly sorted and filtered set will be different than the first filter set. So views will be added/removed on render. Since all `_appendReorderedChildre

[2015-06-12 14:43] #2584 closed

[2015-06-12 18:40] jmeas opened #2593 "showChildView(selector, view)"
It would be cool if `showChildView` created a region for you 'on-the-fly,' if it didn't exist.

More generally, I would recommend completely get rid of region names and **only** use selector strings as region identifiers. There's little reason to use two strings when the one works perfectly fine, I think.

[2015-06-13 06:03] jmeas opened #2594 "RegionManager#hasRegion(regionName)"
I was surprised to find that this doesn't exist!

`return Boolean(this.getRegion(regionName));`

Also, it goes without saying, but it should be added to the LayoutView prototype.

[2015-06-13 11:47] bgaillard commented on #2002
Hi, I just implemented a very basic sample here https://github.com/gomoob/marionette-isomorphic with 3 sample views rendered server side :
* A simple Backbone View
* A simple Marionette ItemView
* A simple Marionette LayoutView with a region rendering a simple ItemView

This sample is based on jsdom or domino for the DOM. You can follow the README instructions, it takes only few minutes to start t

[2015-06-14 02:24] Seebiscuit opened #2596 "More efficient `CollectionView.reorder()`?"
So, I've been grumbling (#2584) about `CollectionView.reorder` because it immediately defaults to a full Collection\CompositeView render if the filtered, ordered models set is different from the original collection. In words,

[code]

In my limited understanding the reason we invoke `render` when the filtered set differs from the original collection is because a model may have been silently added

[2015-06-14 03:55] ryanluker commented on #1037
+1

[2015-06-14 16:50] jmeas opened #2597 "Add Marionette to Babel's "Who's Using""
//cc @thejameskyle

We're using the boilerplate for Radio.

[2015-06-14 21:02] culshaw commented on #2559
So I had a quick look at https://github.com/marionettejs/marionette-integrations/tree/master/browserify

They are  using a shim to attach jQuery to Backbone, it works in this respect and I've tried it myself with Backbone 1.1.2.

check the package.json for the build.

[2015-06-14 21:06] thejameskyle commented on #2597
https://github.com/babel/babel.github.io/issues/new?title=New+User%3A+Marionette&body=Please+fill+the+following+out%3A%0A%0A-+Name%3A+%28correctly+formatted%29%0A-+Homepage+url%3A+%28homepage%2Fprimary+entry+point+for+users%29%0A-+Brand+Guidelines%2FLicensing%3A+%28or+anything+we+need+to+know+before+using+your+logo%29%0A-+Logo%3A+%28svg+if+possible%2C+pngs+over+500x200px+with+transparent+backgroun

[2015-06-14 21:20] jmeas commented on #2593
I made this change in my own applications, and now I don't ever deal with regions directly. I think this is a good thing.

The code:

[code]

Usage:

[code]

:heart_eyes:

[2015-06-14 22:08] thejameskyle commented on #2597
[Metal](https://github.com/marionettejs/backbone-metal) uses it [too](https://github.com/marionettejs/backbone-metal/commit/1462fb907b6afa45e867bdf6ee582edb02562cd4) btw.

[2015-06-14 23:03] agwidarsito commented on #1037
Is anyone working on this? Perhaps a few of us can commit (pun intended) and get it developed between us?

[2015-06-14 23:27] thejameskyle commented on #1037
The definitely typed people seem to be doing a better job than anyone on the Marionette team would be able to do. I'd rather leave it up to them.

[2015-06-15 00:37] samccone commented on #1037
I agree, this is the best place to look
https://github.com/borisyankov/DefinitelyTyped/blob/master/marionette/marionette.d.ts

[2015-06-15 07:23] just-boris commented on #2446
Now we have the following dependency tree:
* marionette v2.4.1 depends from backbone.babysitter v0.1.7 which depends from backbone 1.2.0 which requires underscore >=1.7.0
* marionette itself wants undesrcore <= 1.6.0

So, that means that dependency hell is guaranteed for everyone who installs marionette on blank project.

[2015-06-15 07:43] ahumphreys87 commented on #2596
interesting - @Seebiscuit would you be interesting in submitting a PR for this? I wonder if our tests still pass. They should do, I think.

I wonder what perf gains we get doing this, could you do a comparison maybe?

[2015-06-15 09:55] Seebiscuit commented on #2596
Sure. I'll give it a shot.

[2015-06-15 10:26] Sophia-nguyen opened #2598 "How to check before or after render childView in compositeView"
Hi all,

I have the problem.
I use compositeView to render childView, and I call one collection to fetch data.
Anywhen the collection have data the childView will be render, I wants check when collection have data (not check in collection, i need check it in compositeView) to check data and call function to renderChild view or not.
But, if can not check data, maybe check before or after childView

[2015-06-15 12:06] Haraldson commented on #2598
Marionette takes care of all this for you. An empty collection by default won’t render any children, naturally.

In addition, you can use [isEmpty](http://marionettejs.com/docs/v2.4.1/marionette.collectionview.html#collectionviews-isempty) and [emptyView](http://marionettejs.com/docs/v2.4.1/marionette.collectionview.html#collectionviews-emptyview)/[getEmptyView](http://marionettejs.com/docs/v2.4.1

[2015-06-15 14:09] jmeas commented on #2446
We should just release Marionette v3 *now*, which is whatever is on Master + upgrading Backbone dep. It's silly to wait months and months and months before getting up to speed with Backbone. It should happen immediately.

Also, v2 was released a year ago.

The other remaining changes for v3 can go into v4, which does not need to come a year from now.

//cc @marionettejs/marionette-core

[2015-06-15 14:12] ahumphreys87 commented on #2446
@jmeas we are bumping backbone in 2.4.2.

It's non breaking for us, we have bumped underscore as well to 1.8.3 I
think - not sure what is latest :/

On Monday, 15 June 2015, James Smith <notifications@github.com> wrote:

[2015-06-15 14:17] jmeas commented on #2446
ah, okay ignore me then lol :runner:

When is that gonna be released? Even that PR has been open for monthz

[2015-06-15 14:21] ahumphreys87 commented on #2446
I know :(

It needs some changes as there is some stuff that shouldn't go to 2.4.2, we
just want collectionview fix and bb bump.

@samccone if I make these changes can you publish today?

On Monday, 15 June 2015, James Smith <notifications@github.com> wrote:

[2015-06-15 15:46] Tade0 opened #2599 "Dependency conflict when installing with bower"
When running `bower install` with bower.json being:
[code]

I get this dialog:

[code]

Normally I choose 4 and it seems to work, but which one is the most compatible?

[2015-06-15 15:55] Tade0 commented on #2599
Apparently dupe of #2446. Sorry for the mess.

[2015-06-15 15:55] #2599 closed

[2015-06-16 17:59] tamarmot commented on #674
Once again regionType is being ignored, is it supposed to be used?

[2015-06-16 22:26] paulfalgout commented on #2554
This was resolved on backbone-metal

[2015-06-16 22:26] #2554 closed

[2015-06-16 22:52] ahumphreys87 commented on #2583
@KeyHui currently we only support 1.1.2 - and this is causing issue for users who use browserify with the newer backbone version in there app's dependencies.

We have 2.4.2 almost ready to go where we will be providing support for Backbone 1.2.1

[2015-06-16 22:52] #2583 closed

[2015-06-16 22:54] ahumphreys87 commented on #2593
:+1: nice syntax. I see this fitting nicely with #1976 which Im going to pick up after 2.4.2 is gone

[2015-06-16 22:55] ahumphreys87 commented on #2594
:+1: another good suggestion for the big region refactor

[2015-06-16 22:59] ahumphreys87 commented on #2573
Closing as a dupe of #2578

[2015-06-16 22:59] #2573 closed

[2015-06-16 23:05] ahumphreys87 commented on #2576
@ashtonwar we are currently in the process of writing guides. Integrations with various build tools would be an obvious one, would you care to share your experiences?

[2015-06-16 23:10] ahumphreys87 commented on #2559
Backbone dependency has been bumped to 1.2.1 and will be released in v2.4.2

[2015-06-16 23:10] #2559 closed

[2015-06-16 23:12] ahumphreys87 commented on #2544
Closing. @victorwpbastos if this is still an issue for you please feel free to reopen the issue and provide a small example illustrating this bug.

[2015-06-16 23:12] #2544 closed

[2015-06-16 23:15] ahumphreys87 commented on #2471
This issue doesnt look like it has gained backing so closing for now

[2015-06-16 23:15] #2471 closed

[2015-06-16 23:16] ahumphreys87 commented on #2446
2.4.2 is awaiting release, this fixes these problems.

[2015-06-16 23:16] #2446 closed

[2015-06-17 01:32] samccone commented on #2446
:+1:

[2015-06-17 03:52] KeyHui opened #2600 "How to add LoadingView in CollecitionView ?"
Hi All,
How to add LoadingView in CollecitionView ?

[2015-06-17 04:09] cytomich commented on #2600
I'm not sure, but may be this helps
https://github.com/gogiel/marionette.loading#setting-loading-view

[2015-06-17 05:10] paulfalgout opened #2601 "Remove component.json support?"
Does anyone use this?  Babysitter's had been a version outdated for a while and no one complained.

If it is in use, is it important that the dependency's component.json files are maintained / available

For instance:

https://github.com/marionettejs/backbone-metal/pull/23

Is it necessary?

[2015-06-17 05:14] thejameskyle commented on #2601
Component seems pretty dead to me: http://npm-stat.com/charts.html?package=component

[2015-06-17 05:39] KeyHui commented on #2600
@cytomich  thank you

[2015-06-17 06:57] paulfalgout commented on #2600
Personally I keep them separate.
[code]

Please come join us on https://gitter.im/marionettejs/backbone.marionette for more in depth answers from our growing community.

[2015-06-17 06:57] #2600 closed

[2015-06-17 06:59] paulfalgout commented on #2598
If you're still having issues.  A jsfiddle or some code showing the problem will help.  However please join us on https://gitter.im/marionettejs/backbone.marionette where the growing community can help.

[2015-06-17 06:59] #2598 closed

[2015-06-17 16:23] trueadm commented on #2126
@aMarCruz t7.js is now supported natively in Chrome too. :)

Other good news is that Microsoft Edge (out next month) will also have support and so will Safari 9 (out later this year with iOS 9 and the new OS X).

[2015-06-17 17:06] JSteunou commented on #2126
You mean `Template String`, not `t7.js`.

[2015-06-17 17:35] trueadm commented on #2126
Sorry, to clarify t7.js (for in-browser compilation) depends on `template strings` and `template tags` – both ES6 features are available in the browsers I mentioned above.

[2015-06-17 18:06] stevewillard commented on #2559
Out of curiosity, is there an ETA on when v2.4.2 will be released?

[2015-06-17 18:20] ahumphreys87 commented on #2559
hopefully in the next couple of days - we are actually going through as I
type :smile:

On Wed, Jun 17, 2015 at 7:06 PM, Steve Willard <notifications@github.com>
wrote:

[2015-06-17 19:44] paulfalgout commented on #2597
https://github.com/babel/babel.github.io/issues/343

[2015-06-17 19:44] #2597 closed

[2015-06-17 23:33] paulfalgout commented on #2564
We also need to document something about the `/api/` documentation

[2015-06-17 23:35] paulfalgout opened #2603 "Add a feature flag for Metal"

[2015-06-18 11:22] bazineta opened #2604 "Nested View Structures - Clarification"
In the documentation section that describes how to efficiently render nested view structures:

http://marionettejs.com/docs/v2.4.2/marionette.layoutview.html#efficient-nested-view-structures

It describes LayoutView showing children in onBeforeShow().  When attempting this with a CollectionView with LayoutView children, the documented technique does seem to work properly when the view is first ren

[2015-06-18 11:45] bazineta commented on #2604
Possibly related, #2539, #2546, #2560.  Given discussion in #2539, I'm starting to wonder if the attach events are the right way to go here, but then there's this:

http://marionettejs.com/docs/v2.4.2/marionette.layoutview.html#use-of-the-attach-event

Which leaves me thinking that I should just move to a commune in Vermont, and consider no technology more complex than a shovel going forward.

Ser

[2015-06-18 14:32] JSteunou opened #2605 "2.4.2 Regression?"
I have some views without a model during the creation, and a state model is set during the initialize like this

[code]

and using `modelEvents` to update the view.

Unfortunately, this does not work anymore since 2.4.2. Worked very fine with 2.4.1.

I tried to debug the thing, and `delegateEvents` is called before the `initialize` and never called again after.

(will be out until next week, I'll

[2015-06-18 14:39] jridgewell commented on #2605
This is a change in Backbone v1.2. We now call `#delegateEvents` before calling `#initialize`. As a workaround, you can set the model in the View's constructor instead.

The next major includes #2241, which handles this. I think it could be backported easily if both `#delegateEntityEvents` and `#undelegateEntityEvents` were still called in `#delegateEvents` and `#undelegateEvents`.

[2015-06-18 16:47] rossfishkind commented on #1719
For anyone viewing this thread as of June 18, 2015, the issue has been resolved with an update to Marionette v2.4.2.

[2015-06-18 16:53] sdnetwork opened #2606 "CollectionView does not respect false as a return value from isEmpty()"
I think there is a little problem with the use of this function :

in the doc the isempty is describe by  :

    If you want to control when the empty view is rendered, you can override isEmpty

in my case i don't want display the empty view if my collection model query is empty.

so i override the isEmpty like that :

    isEmpty: function() {
    		if (this.collection.length == 0) {
    			if (t

[2015-06-18 17:03] samccone commented on #1719
👍

[2015-06-18 19:44] paulfalgout commented on #1719
Some clarification here is that it is v2.4.2 in combination with backbone 1.2.x

[2015-06-19 13:01] Ky6uk commented on #2605
Another problem with using `ui` attribute inside `initialize` (e.g.: extending `ui` from prototype).

[2015-06-19 18:17] paulfalgout commented on #2605
@marionettejs/marionette-core so what's the solution here?  Document the breaking change when using backbone >1.2.1 ?

[2015-06-19 18:24] samccone commented on #2605
This is a backbone change, and another example of our upstream dependency not following semver and causing problems for users.

Since Marionette (core) works with 1.2.1 and does not break we **do** support 1.2.1, but as a developer using both you should totally not blindly update to the latest backbone just because marionette (core) works with the latest backbone.

your code !== Marionette core, a

[2015-06-19 18:24] #2605 closed

[2015-06-19 21:09] vanessanutrio commented on #2606
I am in the process of upgrading to 2.4 and noticed this issue as well. I am using  isEmpty as specified in the documentation to not show the empty view but now it is not working. To me, the workaround proposed makes sense based on the comment and the commit description when this was added.

https://github.com/marionettejs/backbone.marionette/commit/4c5ef018d813116e66fce421a874c44fdda13a1a

[2015-06-20 10:50] SpaceK33z commented on #2576
Now that [v2.4.2](https://github.com/marionettejs/backbone.marionette/releases/tag/v2.4.2) is released, this is fixed, right?

[2015-06-20 11:01] ahumphreys87 commented on #2576
That's correct providing you use backbone 1.2 as that now loads jquery for you

[2015-06-20 11:01] #2576 closed

[2015-06-20 20:00] paulfalgout commented on #2300
I think this is not an issue with Bb `1.2` now.  If still outstanding, please re-open.

[2015-06-20 20:00] #2300 closed

[2015-06-21 21:05] jasonLaster commented on #2606
seems reasonable. @cmaher @ahumphreys87 ?

[2015-06-22 02:23] paulfalgout commented on #2501
A totally other solution that might solve my use-case would be some method of preventing the method from being called.  Something like
this.triggerMethod({

[2015-06-22 02:48] paulfalgout opened #2609 "Simplify travis-ci testing matrix"
We should remove node 0.11.
Testing should likely be done mostly on 0.12 with a few on 0.10 and on io.js

Example:
https://github.com/marionettejs/backbone-metal/blob/master/.travis.yml#L7

[2015-06-22 06:19] ahumphreys87 commented on #2606
Is the workaround proposed to make isEmpty look at children and the filtered set? Then change the check in _renderChildren to look at isEmpty?

I'd be happy to accept a PR for that change, I don't think changing isEmpty would cause issues elsewhere so let's do it.

@sdnetwork would you be interested in submitting a PR?

[2015-06-22 12:44] JSteunou commented on #2605
thanks for the explanation @samccone I totally follow you on this

[2015-06-22 16:26] paulfalgout opened #2610 "Figure out a jsdom alternative"
jsdom is keeping our windows users from actively contributing.

Let's try cheerio or something else?

[2015-06-23 19:36] Seebiscuit commented on #2610
I tried setting up the dev environment and error'd out when compiling contextify (jsdom dep). I'm using a Windows machine, running Win 7, and using Visual Studio 2012. Our version of jsdom uses an old version of contextify  that tries to link with Visual Studio 2010 build tools. And while I have build tools all the way back to VS 2005 I can't overcome the compile time error.

(Btw, it is possible

[2015-06-23 19:50] jbarreiros commented on #2604
This is a point of confusion for me too. Dug into the code, and found the following...

[code]

It seems that "before:show" is based on the CollectionView and not the child view? I expected the flow to look more like:
[code]

[2015-06-23 20:02] samccone commented on #2610
can someone link up some jsdom issues here for some context?

[2015-06-23 20:15] paulfalgout commented on #2610
jsdom depends on contextify.  The work arounds for contextify to work on Windows seem excessive.  https://github.com/brianmcd/contextify/wiki/Windows-Installation-Guide  and/or don't seem to work?

Not to mention we're locked in with lower versions unless we want to drop node support and go all-in io.js

[2015-06-24 13:30] bradlord opened #2611 "Region.empty fails to destroy view when called with any options"
In Marionette 2.4.2, calling `region.empty` with any options prevents the contained view from being destroyed. Here is an example:

[code]

Calling `region.empty()` without any arguments results in the view being destroyed as expected. The bug seems to be due to the fact that the `empty` function uses `Marionette._getValue` incorrectly to find the value of preventDestroy that is passed into the fu

[2015-06-24 15:07] megawac commented on #2609
I mean, it doesn't really matter what we test on as we're not trying to test node. So yeah, 100% agree I'll do a quick refactor of the `.travis.yml`

[2015-06-24 16:22] kgoggin opened #2615 "Marionette.Application does not pass all arguments to .initialize()"
I'm working on upgrading from 2.2 to 2.4, and ran into an issue based on the new inheritance structure released in 2.3. I've got a place where I'm instantiating a Marionette.Application, and am passing in two arguments which are referenced inside the Application's `initialize()`. This worked fine in 2.2, but broke in 2.3 - only the first argument gets passed through.

I've tracked the issue to thi

[2015-06-24 16:34] Seebiscuit commented on #2610
See for example: tmpvar/jsdom#378

[2015-06-24 16:49] samccone commented on #2610
ok when I get back to work next week, I will try this on windows, but based on what I have read it seems like jsdom should work on windows

cc @domenic

[2015-06-24 19:50] domenic commented on #2610
Yeah, contextify is not even needed anymore with recent jsdom.

[2015-06-25 15:26] pascalpp opened #2620 "Add isDestroyed flag to Mn.Object/Mn.Class"
When an object is destroyed, it should be marked with `isDestroyed = true` in the same way that views are.

Use case: I have an object which calls one of its methods on a 5-second `_.delay` after being instantiated. If the object is destroyed in the mean time, that delayed method needs a way to detect that the object has been destroyed and return early.

Workaround: I've added an `onDestroy` metho

[2015-06-25 15:34] pascalpp commented on #2620
Wondering what to make of the above suggestion in light of https://github.com/marionettejs/backbone.marionette/issues/2170

[2015-06-25 15:51] samccone commented on #2620
I think adding a isDestroyed prop to Marionette.Object is a good idea, it would allow us to lift it from Mn.View

[2015-06-25 15:56] paulfalgout commented on #2620
This is actually kind of a dupe of https://github.com/marionettejs/backbone.marionette/pull/2352
Though I think I'm in favor of `isDestroyed` working the same everywhere

[2015-06-25 18:21] #2609 closed

[2015-06-25 21:12] samccone opened #2623 "A user should be able to specify the controller in AppRouter.extend"
It is confusing that is **Must** be an option.

[2015-06-25 21:14] samccone commented on #2623
yeah it works this way, I am a dummy

[2015-06-25 21:14] #2623 closed

[2015-06-25 22:15] jasonLaster commented on #2501
not sure if i follow?

[2015-06-25 22:16] jasonLaster commented on #2564
just killed minor. major was already dead. the docs will be fixed soon

[2015-06-25 22:20] jasonLaster commented on #2593
heh - i like names for things - but i hear ya. I'd rather talk about the app's nav, than your dot nav container selector element thing... but yea, that's hyperbole, i see your point too. just gut reaction.

[2015-06-25 22:22] jmeas commented on #2593
It would support the UI hash.

[2015-06-25 22:25] jasonLaster commented on #2593
yea - but do you ever want to select the region's UI... that seems like the wrong place for the region to be defined.

like - if you have an app w/ a nav region and a signin button. only one should be accessible from the app layout, right?

I think there's probably a middle ground here, but ya know.... And honestly, if you debate me i'd probably agree that a selector + ui.name is a fine solution..

[2015-06-25 22:29] ahumphreys87 commented on #2620
@pascalpp would you be interested in submitting a PR for this work?

[2015-06-25 22:35] ahumphreys87 commented on #2560
@ianmstew Im interested in hearing your thoughts on whether you think we need all the events in `region.show` - it does an awful lot at the moment, any contenders for :skull:

[2015-06-25 22:36] ahumphreys87 commented on #2564
fixed with #2624

[2015-06-25 22:36] #2564 closed

[2015-06-25 22:40] pascalpp commented on #2620
Sure. I think? It's only a one-line change. Stay tuned.

[2015-06-25 22:54] jmeas commented on #2593
Ah, really good point, here! `@ui` could possibly be tough to use here...

Yeah, this is the crux of my current thinking. Relegate Regions to being an implementation detail that most folks don't ever need to worry about. Honestly, though, I need to think more about the benefits of using something like a region over just delegating to a simpler DOM interface for manipulating elements.

[2015-06-25 23:09] pascalpp commented on #2620
Ok it was more like three lines and a couple tests.

[2015-06-26 01:58] Seebiscuit commented on #2610
That's the rub @samccone, you can't generalize the Windows experience, because contextify depends on the particular dev environment of the user. I can't compile contextify without sacrificing my dev environment, which I can't do.

[2015-06-26 08:04] KeyHui opened #2628 "backbone.marionette cannot adapt backbone 1.2.1"
Hi All

backbone.marionette 2.4.2 cannot adapt backbone 1.2.1

thank you

[2015-06-26 17:24] ianmstew commented on #2604
Great catch.  It appears that `CollectionView#_addChildView` is firing `before:show` too early.  For `_addChildView` to accurately model `Region#show`, which is its goal, it must call `before:show` _after_ rendering the child view.  This issue existed [pre-2.4.2](https://github.com/marionettejs/backbone.marionette/blob/f16a3ca11b9b573cdaf553d3dd65281dc535c5c8/src/collection-view.js#L316-L327) but

[2015-06-26 17:28] ianmstew commented on #2604
@bazineta before you pick up and move to Vermont, I think you'd appreciate that the "best way to render child views" is going to be very clear in `3.0`--one of our focuses is cleaning up the `show` lifecycle.  :stuck_out_tongue_winking_eye:

[2015-06-26 17:35] ianmstew commented on #2539
Hey all, a new, better official recommendation for rendering child views will be in v3.

[2015-06-26 17:40] bazineta commented on #2604
Ian, it is really quite a lovely place, but I shall desist for the moment.  Thanks for the update; looking forward to 3.0.

[2015-06-26 17:44] ianmstew commented on #2560
@ahumphreys87 Good question.  I have to think more, but off the top of my head I'd like to make sure the `swap` events aren't duplicated by anything.  One thing is for sure, I would like to push "attach" events down the chain rather than calling them once for entire view tree in `show`.

[2015-06-26 17:46] ianmstew commented on #2604
Glad you'll be around for a bit longer!  :)

[2015-06-26 21:17] ahumphreys87 commented on #2620
fixed with #2626

[2015-06-26 21:17] #2620 closed

[2015-06-26 21:28] ahumphreys87 commented on #2594
fixed with #2627

[2015-06-26 21:28] #2594 closed

[2015-06-26 23:10] billyjanitsch opened #2629 "Docs rewrite/cleanup proposal"
The Marionette docs have gotten better in the past year, but I think there's still a lot of improvement that could be made. I've compared the [Marionette docs](http://marionettejs.com/docs/current/) to [those of Backbone](http://backbonejs.org/) (which are some of the best I've encountered). In short, Mn doesn't have a clear read path for first-time users, forces users to guess and click around mu

[2015-06-26 23:36] jisaacks opened #2630 "Use es6/2015 modules on next branch"
Was just poking around the __next__ branch recently for my last PR. I was wondering if there was any reason that y'all are not using ES6 modules for each piece?

[2015-06-27 00:01] ashtonwar commented on #2576
I can confirm after upgrading to Marionette v2.4.2 the library loads perfectly without the shim. @ahumphreys87 I'm not sure how I can contribute to any integration guides past this report without writing them, do you have any specific questions?

[2015-06-27 04:11] ianmstew opened #2633 "CollectionView children fire before:show too early"
@bazineta opened a discussion in #2604 that led to a this finding.

It appears that `CollectionView#_addChildView` is firing `before:show` too early.  For `_addChildView` to accurately model `Region#show`, which is its goal, it must call `before:show` _after_ rendering the child view.  This issue existed [pre-2.4.2](https://github.com/marionettejs/backbone.marionette/blob/f16a3ca11b9b573cdaf553d3d

[2015-06-27 04:12] ianmstew commented on #2604
Moving discussion/PR to #2633

[2015-06-27 04:12] #2604 closed

[2015-06-27 14:43] ianmstew commented on #2628
Hi @KeyHui, can you write up a failing test case or show some code that no longer works for you?

[2015-06-27 15:05] ianmstew commented on #2601
I would :+1: its removal in `next`.  Since Metal is behind a feature flag in `2.5` I think it's acceptable to keep Marionette supporting it while Metal does not until the breaking release when Metal is fully integrated by default.

[2015-06-27 15:26] ianmstew commented on #2610
:+1: to sorting out a Windows compatible solution.  Unfortunately, there is no version of jsdom that supports Node.js yet does not require contextify.

[2015-06-27 15:32] ianmstew commented on #2596
@Seebiscuit How are things going?  I'm interested in this as well :)

[2015-06-27 15:43] ianmstew commented on #2593
I like the idea of dropping the cognitive overhead of regions, and @ahumphreys87's work to eliminate the region's wrapper element is a big part of that.  I would love to see regions transparent to the average user in `3.0`.  How this particular API fits into that picture I have think more about, but I like the direction its headed.

[2015-06-27 15:46] ianmstew commented on #2596
By the way, this looks related to #2590.  I would be interested to hear your thoughts--perhaps both issues could share pieces of the implementation?

[2015-06-27 16:11] ianmstew commented on #2587
While I see where you're going with this, a view with no template still has a single element that could potentially be significant (button, hyperlink, form--see `tagName`, `className`, `id`, `attributes` in Backbone doc), and we still need DOM attachment to ensure expected events like `attach` to fire.

What's your goal for not appending a template-less view's element to the DOM?  Is it avoiding a

[2015-06-27 16:12] ianmstew commented on #2581
:cry:

[2015-06-27 16:13] ianmstew commented on #2586
@shakhar Any further information on this?

[2015-06-27 16:14] ianmstew commented on #2582
:+1:

[2015-06-27 16:16] #2586 closed

[2015-06-27 16:20] ianmstew commented on #2578
#2573 Was closed in favor of this ticket, so let's continue from here.  @cybernetlab mind opening a PR with a fix and supporting test case against `patch`?

@ahumphreys87 I see you added `v2.5` but now that we have `v2.4.3` I think a patch is most appropriate.  Do you agree?

[2015-06-27 16:27] ianmstew commented on #2572
@jbarreiros Any progress on a PR?

@paulfalgout Considering this is an oversight, it could be argued into a patch release.  Considering it is also an addition, it could argued as a feature.  I lean toward the oversight argument and would like to see this sooner rather than later.  What do you think about a PR for this against `patch` for `2.4.3`?

[2015-06-27 18:57] cybernetlab commented on #2578
@ianmstew I think that I can make PR to fix it. What branch should I use?

[2015-06-27 19:34] MeoMix commented on #2539
That's great to hear :D

[2015-06-28 02:02] KeyHui commented on #2628
Hi @ianmstew

Marionette.LayoutView.extend({
       initialize:function() {
               this.collection = new Backbone.Collection();
               // it can work
               //this.listenTo(this.collection, 'add', this.addFunc);
        },
        collectionEvents: {
            add: 'addFunc'
        },
       addFunc: function() {
           //it cannot work
           console.log('add')

[2015-06-28 02:14] Seebiscuit commented on #2596
Wow @ianmstew, really cool reference. Yea, I totally agree that this is a common use case.

In fact, looking at his code more clearly I realize that

1. My code is problematic: `this.addChild(model, ChildView, index);` will actually attach (pre/append) the view in its parents, which is an unintended and non-perfomant side-effect.

2. @frankcortes 's code can be improved by using @samccone 's metho

[2015-06-28 03:08] Seebiscuit commented on #2596
Ok, got it. Simple fix!

[code]
By using `_insertAfter` we ensure that we are only *moving* the view, since `_insertAfter` is only a thin wrapper for
[code]
Now all we need to do is alias `reorder` to `setFilter` and we're ready to go:

[code]
and we remove the `reorder` property from the CollectionView.

[2015-06-28 05:17] paulfalgout commented on #2628
This is a dupe of https://github.com/marionettejs/backbone.marionette/issues/2605

[2015-06-28 05:17] #2628 closed

[2015-06-28 05:21] paulfalgout commented on #2630
See https://github.com/marionettejs/backbone.marionette/issues/2296

[2015-06-28 05:21] #2630 closed

[2015-06-28 14:50] Seebiscuit commented on #2610
So...I'm installing VirtualBox. I'll be deving in Ubuntu. Unless anyone's found a lightweight *nix OS they love

[2015-06-28 15:25] frankcortes commented on #2596
Excellent contribution, @Seebiscuit ! I could add (and review) these changes in my PR, if you agree :+1:
As a suggestion, if finally we go on with this, maybe `setFilter` and `reorder` should be two alias of a more general function, named `doRenderForDeltas` o something similar. They have the same functionality although they have different semantic after all.

[2015-06-28 20:59] Seebiscuit commented on #2596
Yes, please, @frankcortes. I would only change the order of the if statement:

[code]

Just a suggestion. You might bit need to pass index to `_onCollectionAdd` since we're now rendering all the views in order.

[2015-06-29 06:07] paulfalgout opened #2637 "Consider only classifying Marionette extends with Metal"
In a recent discussion there were some concerns about modifying backbone, and altering its behavior from its documentation.  Certainly very reasonable concerns to consider.

Historically it has been mentioned that this classifying is required:

https://github.com/marionettejs/backbone.marionette/pull/2271#discussion_r24703299
I am not sure I fully understand the prototype issue here.  If we classi

[2015-06-29 06:22] paulfalgout commented on #2535
I'm iffy on this now.  If everything in `Marionette.Class` is added to everything else, we may still want a base object that has additional functionality that is not added to everything across the board.  Like the Radio proxy and additional `destroy` functionality.

[2015-06-29 07:19] spenoir commented on #2587
*What's your goal for not appending a template-less view's element to the DOM?* To avoid replacing the html onRender when the template equals false.
If an empty div gets added on every render then the template is not truly false in value. Would the other issue fix this by not adding an empty div? That sounds like it would fix this issue.

Each time the view renders, its el value should be taken fr

[2015-06-29 10:35] claughlin-r7 opened #2638 "Controllers usage message"
In the docs the following is stated

Should it be suggested to use a marionette object instead of/as well as a JavaScript object?

[2015-06-29 13:40] samccone commented on #2638
totally, @claughlin-r7 would you like to make a PR?

[2015-06-29 14:20] #2638 closed

[2015-06-29 15:48] ianmstew commented on #2596
Thanks for collaborating, @Seebiscuit and @frankcortes!  I could see this going into `2.5` (`next`), because we have already built consensus on #2590.  :smile:  Once #2590 is merged, then this issue can be built on top thanks to your shared foundation.

[2015-06-29 15:50] ianmstew commented on #2590
@frankcortes Looking forward to the additions re: #2596.

[2015-06-29 15:55] ianmstew commented on #2587
@ahumphreys87, What would happen when a view with `template: false` replaces a region's el?  Does it re-use the region's element?

[2015-06-29 16:46] ianmstew commented on #2628
@KeyHui thanks for clarifying--looks like this is due to a change in Backbone `1.2.1`, but does not directly break Marionette documentation.  For the time being, you can instead assign the collection in your constructor, like so:

[code]

In the meantime, an upcoming enhancement will have the side effect of permitting models and collections to be assigned within `initialize` while using Backbone `

[2015-06-29 16:55] ianmstew commented on #2578
:smile:

[2015-06-29 17:24] ahumphreys87 opened #2640 "Remove `preventDestroy` option from region `show` and `empty`"
`preventDestroy` is a bad idea. It will create memory leaks everywhere!

Lets remove the option in 3.0 and encourage people to create and dispose of views correctly

[2015-06-29 17:24] trezy commented on #2640
:+1:

[2015-06-29 17:32] ahumphreys87 commented on #2578
out of interest are these also added in reverse order in the collection?

[2015-06-29 17:39] samccone commented on #2640
there are still many usecases for this feature, keep in mind people can have expensive views that take time to rerender. The initial goal for the flag was to let users know they were opting into a dangerous thing. Since we prevent this behavior by default, and plenty of  (power) users use the flag I am totally fine keeping this.

[2015-06-29 17:40] jridgewell commented on #2578
Nope. It's because the trigger event doesn't change the `at` option. In v1.2 we added the `index` option which will correctly provide `at + i` for the true index.

[2015-06-29 17:40] ahumphreys87 commented on #2611
fixed with #2636

[2015-06-29 17:40] #2611 closed

[2015-06-29 17:56] bgaillard commented on #2640
Hi, we use the `preventDestroy` option is several Cordova / Marionette applications. This is very useful when we need to agressively cache views on client side.

[2015-06-29 18:00] trezy commented on #2640
@samccone That's a good point. There are valid reasons for using `preventDestroy` but our implementation is super risky. We could at least do a few things to make it less dangerous such as maintaining a list of views to be GC'd and providing mechanisms for a lower level automatic GC plus or easier resurrection. If this doesn't make sense I can elaborate on it.

The point is that while preventDestr

[2015-06-29 18:37] ianmstew commented on #2606
@sdnetwork Any word on a PR?  Otherwise we can take a stab at it.

[2015-06-29 18:53] ianmstew commented on #2637
Shimming Backbone classes is uncomfortable for me.  I am not aware of any other case of shimming a core dependency for our purposes.  Adding undocumented features to anything `Backbone.*` is not expected and could possible interact with Backbone plugins in unexpected ways.  Backbone plugin authors are certainly under no contract to avoid conflicts with Metal.  I would prefer to only classify `Mari

[2015-06-29 19:15] ianmstew commented on #2572
Nvm, I somehow missed the PR.

[2015-06-29 19:18] ianmstew commented on #2568
@bradlord I suspect this could be addressed with two additions to `attachView`, like @jasonLaster suggested.  Care to put up your second PR in a week?  :smile:

[code]

@jasonLaster After taking a look, I'm thinking that `show()` calling `attachView` might get tricky, although we should completely reconsider the `show` method for `v3`.

[2015-06-29 19:24] ianmstew commented on #2558
@paulovieira Closing this with the encouragement to open a similar ticket against Metal!  FYI, Metal is coming soon to Marionette, so any addition you make there will also present itself to Marionette.

[2015-06-29 19:24] #2558 closed

[2015-06-29 19:29] paulfalgout commented on #2560
In relation to Region#show 4)  https://github.com/marionettejs/backbone.marionette/issues/2299

[2015-06-29 19:31] ianmstew commented on #2563
@JSteunou interesting... are you suggesting to bind UI elements upon instantiation of a View if the `el` already exists in the DOM?  I see others have had this issue before (see comments here: http://stackoverflow.com/a/18379392/957813).  @paulfalgout what do you think?

[2015-06-29 19:35] ianmstew commented on #2553
@Seebiscuit, @jmeas is contemplating what an animation framework for Marionette might look like.  You two might have some things to talk about along these lines on a new thread.  For now I'm going to close this one!

[2015-06-29 19:35] #2553 closed

[2015-06-29 19:40] jridgewell commented on #2563
I think a better place for this is attaching ui elements in `#setElement` and `#render`.

[2015-06-29 19:42] ianmstew commented on #2538
Hey all, any further thoughts on this?

[2015-06-29 19:44] ianmstew commented on #2563
@jridgewell Awesome, `setElement` looks good.  (It's already in `render`.)

[2015-06-29 19:44] paulfalgout commented on #2563
I agree @jridgewell.  I think this is solved with this issue.  https://github.com/marionettejs/backbone.marionette/issues/1952

[2015-06-29 19:46] ianmstew commented on #2563
Oooh, nice reference.  Closing in favor of #1952.

[2015-06-29 19:46] #2563 closed

[2015-06-29 19:48] ianmstew commented on #1952
How would this break apps?  I'd like to get this into `2.5` if possible.

[2015-06-29 19:48] ianmstew commented on #2563
Thanks, @JSteunou!

[2015-06-29 19:49] ahumphreys87 commented on #2587
Im not sure the tests cover that case at the moment.

I think it should just replace it with the empty view tag - if template is `false` you still get that right?

[2015-06-29 19:53] ahumphreys87 commented on #2516
Fixed with #2513

[2015-06-29 19:53] #2516 closed

[2015-06-29 19:55] ianmstew commented on #2531
@MeoMix, care to PR some docs into `patch` for the next release?

[2015-06-29 19:56] samccone commented on #2531
:+1: saw some people get confused by this as well

[2015-06-29 20:04] sdnetwork commented on #2606
@ianmstew i have just done https://github.com/marionettejs/backbone.marionette/pull/2641

[2015-06-29 20:12] paulovieira commented on #2558
Cool! I'll submite a pr to backbone metal shortly (I will have time on wednesday only)

[2015-06-29 20:24] ianmstew commented on #2515
I rather think that the most common pattern if for a single object to listen on a single channel, and that an object listening on multiple channels is the exception.  In my own code, I prefer doing:

[code]

This is how the Application object initializes the app channel in `2.4.x`, and would be cool if this method applied to all objects.  When I need to listen to multiple channels, I would rather

[2015-06-29 20:41] ianmstew commented on #2474
I love the idea of lowering the barrier for users to leverage other templating engines.  I agree with @jasonLaster that a single repo with multiple example renderers and a unit test would be great.  @paulovieira I know that's not exactly what you had in mind, but what do you think about creating a repository with 1-2 demo template engines featured?  Then we could gain consensus, transfer it to the

[2015-06-29 20:45] ianmstew commented on #2386
@jasonLaster Any thoughts on this?

[2015-06-29 20:54] ianmstew commented on #2372
:+1:

[2015-06-29 21:01] ianmstew commented on #2357
@designermonkey Looks like we are finally solving this, just with a slightly different implementation, in `2.5`.  Instead of relying on the template to define the `el`, we are adding the option for a view's `el` to replace the region's `el`.  That being the case I'm closing this, but please feel free to join the discussion over at #2625!

[2015-06-29 21:12] jmeas commented on #2357
I think this should stay open. It's a separate issue from regions

[2015-06-29 21:15] ianmstew commented on #2357
Okay, I see your point.  A better approach would be to ask the following:

Given the ability to replace a region's element coming in #2625, where does this issue stand?

[2015-06-29 21:18] jmeas commented on #2357
@designermonkey makes a lot of good points, I think, and @tbranyen has successfully implemented this feature in LayoutManager. I think it'd be a huge win if we added this to Marionette!

[2015-06-29 21:23] ianmstew commented on #2357
Hmm, it _does_ solve a different problem and I think you're right... it would be an instant fan-favorite.  It would allow designers to write wrapper-less HTML without need editing `tagName`, `className`, `id`, and `attributes` in JS files.

[2015-06-29 21:31] designermonkey commented on #2357
One of the other added benefits would be server side markup matching templates too. I wish I had the time to contribute to open source more to help achieve this.

[2015-06-29 21:43] ianmstew commented on #2357
Well, it sounds like LayoutManager probably has a great example for this.  @marionettejs/marionette-core any concerns before we start moving toward a PR here?

[2015-06-29 21:59] ahumphreys87 commented on #2357
Im :+1: for this

On Mon, Jun 29, 2015 at 10:43 PM, Ian Stewart <notifications@github.com>
wrote:

[2015-06-29 21:59] ianmstew commented on #2294
Is this still an issue in the re-envisioned `3.0` that contains only two views, View and CollectionView, both extending AbstractView?

[2015-06-29 22:04] paulfalgout commented on #2357
I think this will likely introduce some magic involving calling `setElement` after a `render`.  It does seem doable, but we will want to be careful to not end up re-binding a bunch of things or not binding things that need to be bound.

[2015-06-29 22:06] jridgewell commented on #2357
My only concern here is `setElement` is a **very** expensive method call, and getting [even more expensive](https://github.com/marionettejs/backbone.marionette/issues/1952).

[2015-06-29 22:10] ianmstew commented on #2347
@kachkaev This looks like a great candidate for the next patch release, `2.4.3`.  Would you care to open a PR against `patch`?  There are some possible caveats/edge cases around empty templates, but I think it would be easier to discuss once we have some code and a test case.

[2015-06-29 22:10] samccone commented on #2357
We should keep in mind marionette is an extension lib not a fit all purpose framework.  Whatever decision we end up in it should follow this thinking.

[2015-06-29 22:14] megawac commented on #2357
Another thing to consider is this will likely break most (almost every?, all the major ones I've ever worked on) single application currently in Marionette and be a pain to upgrade

[2015-06-29 22:17] paulfalgout commented on #2357
Hmm is this a change or an addition?  As I understood it, it would be some new view configuration, but any current view would go one using `tagName` and it's template like normal

[2015-06-29 22:18] jmeas commented on #2357
This wouldn't change the default behavior, so it wouldn't break anyone's apps: it would be an option that you must configure, sorta like `template: false`.

[2015-06-29 22:21] ianmstew commented on #2558
:+1:

[2015-06-29 22:22] frankcortes commented on #2357
I'm only talking about my own experience. I have implemented/seen Marionette implemented in very different projects, and one of the first things what the team notices about the implementation is [always](http://stackoverflow.com/questions/7894253/backbone-js-turning-off-wrap-by-div-in-render) [the] (http://stackoverflow.com/questions/11594961/backbone-not-this-el-wrapping) [same](http://stackoverf

[2015-06-29 23:01] frankcortes commented on #2357
@jmeas, as a suggestion `tagName: false` doesn't mean anything for now.

[2015-06-29 23:09] MeoMix commented on #2531
I am 100% swamped with work for the next couple of weeks. Moving houses + dealing with Google. More than happy to when I find a spare moment, but right now I'm drowning on my own!

[2015-06-29 23:14] megawac commented on #2357
Oh if its supplementary that would be awesome

[2015-06-30 00:21] thejameskyle commented on #2357
I really think it's a poor idea to diverge from something so core as this. The more variation between views the more it difficult it gets to reason about all of their relationships to one another. You quickly get into a position of `if x` or `else y` being added all over the place and it's difficult to maintain.

I've never been hindered by there being a `view.el`, generally when it's not creating

[2015-06-30 00:24] jmeas commented on #2357
I think we should investigate how complex it is to support. If it's not so bad, then we should merge it. If it's really ugly, and seems likely to cause us problems down the road, then we can scrap it.

Let's get a prototype PR up.

[2015-06-30 00:52] paulfalgout commented on #2610
I think this issue is probably dead until node.js === io.js.  Chances are that'll happen prior to any sort of significant overhaul, and I am not aware of reasonable solution.  Closing for now.

[2015-06-30 00:52] #2610 closed

[2015-06-30 00:55] paulfalgout commented on #2640
I'd certainly like to explore alternatives.  Anecdotally it seems `preventDestroy` is very often used for poor or misguided reasons and it seems to complicate a lot of Mn development.

[2015-06-30 01:33] samccone commented on #2386
This seems wrong.. @adorsk what is supposed to happen is both should be instantiated, would you be able to put together a test case for us?

[2015-06-30 02:26] ianmstew commented on #2531
Np!  Good luck!

[2015-06-30 03:08] Seebiscuit commented on #2610
Looks like it's happening faster than you think, @paulfalgout:
[io.js decides to join the Node Foundation](https://medium.com/node-js-javascript/io-js-week-of-may-15th-9ada45bd8a28)

[2015-06-30 03:24] Seebiscuit commented on #2596
Nooice :metal:
Can't wait to see the commit. If like to run some perf tests on it.

[2015-06-30 03:27] paulfalgout commented on #2610
Oh yeah there's a convergence repo already that is essentially mostly io.js named node.js under a node foundation.  But I dunno when it'll be ready.

[2015-06-30 04:03] trezy commented on #2357
Just had a convo about this with @paulfalgout and @ianmstew in Gitter. I think the same logic from the `replaceEl` PR could be used in the view to accomplish this. As @jridgewell [mentioned](https://github.com/marionettejs/backbone.marionette/issues/2357#issuecomment-116860749), we may be looking at some pretty nasty performance hits fro doing it that way. However I think there may be a better way

[2015-06-30 05:41] #2533 closed

[2015-06-30 05:48] instanceofpro commented on #2558
:+1:

[2015-06-30 06:26] paulfalgout commented on #2275
I think this is going to be taken care of by what is added to the base Marionette.Class.

[2015-06-30 07:01] paulfalgout commented on #2515
I actually much prefer what @ianmstew is suggesting.  Plus the implementation is drop-dead simple:
[code]

I think that might be it entirely.  Compare with the complexity of supporting channelNames in the hash:  https://github.com/marionettejs/backbone.marionette/blob/next/src/radio-helpers.js

This could possibly be improved with `replyFor` if/when Radio implements that.

[2015-06-30 07:02] paulfalgout commented on #2515
FWIW when Metal lands this could easily just be a Mixin and would not need to be baked into everything..  Particularly if https://github.com/marionettejs/backbone-metal/issues/20

[2015-06-30 08:06] designermonkey commented on #2357
@thejameskyle but yes there is, as I then can't use a template, as a template requires a single node. I present the example above again.

[code]

I've read soooo many SO posts, blog posts, twitter posts all complaining about how JS frameworks wrap in divs, so there is obviously a perceived problem here.

[2015-06-30 08:14] frankcortes commented on #2357
@thejameskyle Since you must have part of your template (the container element) inside of your code, it could be considered as an issue. I understand the reason behind doing this but it should have an alternative.

[2015-06-30 08:51] jshthornton commented on #1118
I +1 this idea.
To me I intend to use a lot of micro libraries to build a web application.
For instance I might use Virtual DOM for templating, Immutables and Stores (LokiJS) for models and collections, and PubSub.js for the event bus.

But something that Marionette is unrivaled at is a great View system.

[2015-06-30 09:32] yamsellem commented on #1118
@jshthornton If you like small libraries with one purpose, you may take a look to [Ampersand](http://ampersandjs.com). It shares the common patterns of Marionette, but with a component state of mind (and it trades Marionette's deprecated Controller & Module for a useful State).

[2015-06-30 11:01] stephanebachelier commented on #1118
@yamsellem interesting ;)
Le mar. 30 juin 2015 à 11:32, amsellem yves <notifications@github.com> a
écrit :

[2015-06-30 13:10] jasonLaster commented on #2515
@paulfalgout that code *is* pretty nice.

At Etsy, we often have props like `appRequests` or `listingRequests` where we do <channel><radioMessage>. and then bind them with a helper. I guess what I'm saying is that maybe we could have both. Out of the box you get `radioRequests`, but you could easily add `appRequests` and bind that with a method. We could magically do that, but lets not :)

Maybe,

[2015-06-30 13:12] jasonLaster opened #2647 "Create Marionette Radio docs"
Currently, people have to go to Marionette Radio to read the readme to understand how to use the lib.

Lets have some documention in Marionette for Radio. This is especially important w/ `next` as we introduce some helpful APIs on top of Radio.

The docs should have the methods that are available, but also useful Eventing patterns that are common best practices

## Todo List

* [x] Document channe

[2015-06-30 13:13] jasonLaster commented on #2275
Hmm, probably. But I'd like to see Utils namespaced as well so they're not on Marionette itself.

[2015-06-30 15:05] jridgewell commented on #2357
I think there are two issues here:

1. DOM attributes on the root node don't update after render
2. The root node is defined in code instead of in a template

### Issue One

The first one is easily solvable while still following core Backbone, and I think might actually solve @designermonkey's problem (correct me if I'm wrong).

[code]

If that's the root node we're trying to create using core Bac

[2015-06-30 15:13] MeoMix opened #2649 "Is there any merit to allowing users to set flag indicating tagName/className for view is inside template?"
I've see this question come up more than a few times. I have mixed feelings on it.

Users want to do something like:

    var MyView = Marionette.ItemView.extend({
        templateOnly: true,
        template: _.template('<span class="myView"></span>')
    });

which would be equiv. to:

    var MyView = Marionette.ItemView.extend({
        tagName: 'span',
        className: 'myView'
    });

I c

[2015-06-30 15:17] jridgewell commented on #2649
We're having this conversation over in #2357.

[2015-06-30 15:18] MeoMix commented on #2649
Gotcha, ty.

[2015-06-30 15:18] #2649 closed

[2015-06-30 16:05] designermonkey commented on #2357
The issue I have is simply the wrapping. I generate initial content from the server as it's sooo much quicker, then get pissed off that all new content from models and views is wrapped by divs.

[code]

Now, this can cause issues when a developer has followed web standards expectations of semantic markup and targeted with css like `ul>li`, which does happen (and I don't want to hear answers like,

[2015-06-30 16:08] jmeas commented on #2357
@designermonkey, are you familiar with the `tagName` property of Views? Your root node can be an `li`.

[code]

[2015-06-30 16:17] paulfalgout commented on #2357
We're going in circles a bit here https://github.com/marionettejs/backbone.marionette/issues/2357#issuecomment-75448937

However in that example I'm not sure why "The template *must* be a single node"  @designermonkey why can't you remove the <li> from that template?

[2015-06-30 16:26] designermonkey commented on #2357
@jmeas, as previously posted

[code]

@paulfalgout it has to be a single node, as you can't add multiple nodes into a template? It's in the documentation for Backbone.

Also, why, when I have a template language at my disposal to fill in properties, must I write a load more code per View to assign attributes to a View's `el` when I should be able to declare it in my template?

I should be able to

[2015-06-30 16:42] samccone commented on #2357
We need to be clear here; this behavior comes directly from backbone and the `ensureEl` method.
Changing this behavior would be a fundamental override, and a change to our current "hands off" approach with `Backbone.View`.

If we think this is a good idea, we also have to realize that we will be changing the well rooted backbone view interface: `id`, `attributes`, `className`, `tagName`.

What hap

[2015-06-30 17:40] thejameskyle commented on #2357
re: `<dl><dt>...</dt><dd>...</dd></dl>`

Since this is the only example where `view.el` would be a problem I would much rather it suck for dealing with this edge case than change something so core to Backbone view. Just put the whole thing in your template and re-render the whole view, the performance implications are most likely tiny.

[2015-06-30 18:38] paulfalgout commented on #2357
@designermonkey

No I don't think this is true.. maybe you've read that about the `<script>` id being a single node, but for your original example this would work without issue:

[code]

[code]
Is there issue with this solution?

I really think there are very few HTML issues that can't be resolved with Bb + Mn.  But from a complexity and having DOM stuff on the view, it would be nice, however like

[2015-06-30 18:47] jridgewell commented on #2357
Related: Backbone rejected this feature a few years ago https://github.com/jashkenas/backbone/issues/546. Of particular interest is [Jeremy's response](https://github.com/jashkenas/backbone/issues/546#issuecomment-3604746).

[2015-06-30 22:18] jasonLaster commented on #2515
Discussed offline. We'll add the simple one channel proxy method as a util. We'll then probably make it a default, but continue to support the multiChannel proxy method as well.

@paulfalgout mind not tackling this? I'd like to save it as a "beginners" ticket for the July 9th meetup

[2015-06-30 22:29] paulfalgout commented on #2515
:+1:  Oh yeah perfect

[2015-06-30 23:08] frankcortes commented on #2596
@Seebiscuit I'm seeing the fact that `reorder` is an extensive case than `filter`. We have to do a deep refactor about how sorting works, and it will take more time :cry:
My suggestion is to publish the #2592 code in the next minor, and apply the sorting changes for a 2.6 or later. Anyway, the issues are related, but they aren't the same thing.
`filter` attribute was just modifying `filter`... `re

[2015-07-01 15:35] JSteunou opened #2650 "triggerMethod is not consistent between views & behaviors"
`triggerMethod` called from a view with the matching method in the same view return the value returned by the method but `triggerMethod` called from a view with the matching method in a behavior of that view does **not** return the value returned by the method.

Would be nice to return all values in an Array of all methods called if many.

[2015-07-01 15:42] paulfalgout commented on #2650
I've always considered the return an odd functionality for `triggerMethod` as there can be multiple handlers.  And behaviors is an example here as well.  What if both the behavior and the view handle the onEventMethod?  What would be returned?

[2015-07-01 15:44] JSteunou commented on #2650
Quoting myself

[2015-07-01 15:45] JSteunou commented on #2650
Or Array of [view returned value, {behaviorName: behavior returned value, ...}]

[2015-07-01 15:46] JSteunou commented on #1952
+1

[2015-07-01 15:49] paulfalgout commented on #2650
so would this then be `[undefined, {behaviorName: behavior returned value, ...}]` when the view is not handling the trigger?

[2015-07-01 15:54] ianmstew commented on #2318
Hey guys, any issue moving this one into `2.5` considering #2592 is targeting 2.5 already?

[2015-07-01 15:59] JSteunou commented on #2650
Why not... It's just some naive solution. I'm just pointing out that triggerMethod is not consistent. Another solution would be to make it never return an object.

[2015-07-01 16:07] paulfalgout commented on #2650
Yep.  I'm not really arguing against this or anything.  I agree it is not consistent.  I'm just not sure of a clear consistent fix.  Anything I imagine would be a breaking change as well.

[2015-07-01 16:50] JSteunou commented on #2650
That's right.

[2015-07-01 20:14] jmeas commented on #2553
My idea hasn't been thought through too thoroughly, and it might not even be much better than just using basic jQuery shtuff. But the idea is that you would register an animation like so...

[code]

Then, in your code...

[code]

The `animate` method would behave similarly to async Model methods, in that it would:

1. return a Promise
2. emit an event on completion (of the form `animationName`);

[2015-07-01 21:32] billyjanitsch commented on #2553
@jmeas I'm curious why you prefer this approach to that of something more like your [transition region](https://github.com/jmeas/marionette.transition-region) prototype.

I like the idea of registering custom animation functions with a callback to call on completion (especially if they can also be called by reference instead of by name/global registration to fit nicely into module loaders).

Howev

[2015-07-01 21:48] jmeas commented on #2553
I've had a hunch lately that Regions might be an unnecessary abstraction that users of Marionette shouldn't have to deal with, so I've been exploring that lately in my own applications. I've been liking it a lot. The system described above lets me do animations without working with Regions directly.

That could work, too. I use a module loader but I'd still opt for the global registration approach

[2015-07-01 22:02] nomcopter opened #2651 "childView and emptyView no longer support `Backbone.View`s, now they require `Marionette.View`s in 2.4.2"
This commit: https://github.com/marionettejs/backbone.marionette/commit/2cefc20d9ef2552a398b8b051b3151107f25a9fd

Has introduced a bug in which `childView` and `emptyView` in `CollectionView`s can no longer take a `Backbone.View` and require a `Marionette.View` instead. This is because of the added call to `view._getNestedViews()` in `addEmptyView` and `_addChildView`, which `Backbone.View` does n

[2015-07-01 22:18] samccone commented on #2651
great catch @nomcopter !

[2015-07-01 22:31] billyjanitsch commented on #2553
I think it would be cool to see some of this in core or as a plugin (seems to be often requested, and there's not a simple way to do this nicely yourself), but I can understand reasons not to. I'm also just playing with this in my free time, trying to come up with an API that I'm happy with.

So, as a more realistic example, say I want a parent view to switch from one child to another. Is the idea

[2015-07-02 14:11] bgaillard opened #2652 "buildChildView() is called for the empty view, prefer buildEmptyView() ?"
Hi, we have collection views with both the `emptyView` option and the `buildChildView(child, ChildViewClass, childViewOptions)` method defined.

With this it seems the `buildChildView()` method is called when an empty collection is passed to the collection view (i.e when the empty view has to be instantiated).

Here is a code sample to illustrate that.
[code]

It seems the call to build the empty

[2015-07-02 16:41] ianmstew commented on #2651
Wow, great catch.  Handling this now.

[2015-07-02 18:38] cmisenas commented on #2568
Is this the designed behavior though? Currently I'm seeing the following in the [docs](https://github.com/marionettejs/backbone.marionette/blob/40f99e6935c740335c3d64c15dcef73f11d5b452/api/region.yaml#L300-L302)

[code]

I also just might not be getting how `attachView` is used (and if so, please explain :) ).

[2015-07-02 23:21] blikblum opened #2654 "Add option to choose homepage language"
When i access http://marionettejs.com/, i get the portuguese translation version (I live in Brazil).
As implemented in other sites, i'd like to have an option to set to another language (i prefer english).

[2015-07-03 06:03] newtonianb opened #2655 "Backbone.Wreqr reference with browserify"
It seems this problem has been mentioned twice before but I wanted to make sure I understood correctly.

I keep getting this error

    Uncaught TypeError: Cannot read property 'Commands' of undefined

With this code

    Backbone = require('../shims/backbone');

    module.exports = new Backbone.Wreqr.Commands;

This is my setup

**main.coffee** (browserify entry point)

    app = require('./app'

[2015-07-03 15:22] JSteunou opened #2656 "getChildViewContainer is not consistent"
This method seems to be here to help us returning a different container depending on the model / child being processed, but it gets called 3 times with different arguments, making it impossible to use in certain condition

[code]

[2015-07-03 16:03] ianmstew opened #2657 "Better Backbone.View childView support"
As I began to write a failing test for issue #2651, I became aware of two issues.

1. There is a relatively wide gap in our specs concerning Backbone.View.
2. There are 2 instances in `master` where Marionette view lifecycle events are not applied to a Backbone view due to usage of `view.on('render', ...)`.  These are `onDomRefresh` and CollectionView childView `onBeforeAttach`.

I propose that, t

[2015-07-03 16:19] ianmstew commented on #2657
Just for completeness, I do have a simple devil's advocate argument why _not_ to fully support view lifecycle events on Backbone views.  Lifecycle events are [documented in Marionette](https://github.com/marionettejs/backbone.marionette/blob/master/docs/marionette.view.md) but [not in Backbone](http://backbonejs.org/#View).

[2015-07-03 17:08] megawac commented on #2651
One way we can address this is through something like the `classify` changes being proposed, we can do something like `staticify`, in which we move all  methods on a classes prototype to its static properties (ala python classes).

This would let us to simply change calls of `view._getNestedViews()` (and any other Marionette specific calls) to `Marionette.View._getNestedViews(view)` without worryi

[2015-07-05 18:44] megawac commented on #2651
As for implementation it can be done quite easily like

[code]

[2015-07-05 19:33] samccone commented on #2651
So I am -1 to modifying the bb prototype, the reason being that it simply does not scale.

Marionette works off of the idea that if you provide a view that adheres to the interface API that what we expect (see a backbone view or Mn View) you can just use it inside of Marionette and things "work".
Thus making things interop with BB without any prototype shenanigans means things like ampersand's vie

[2015-07-05 19:38] samccone commented on #2652
I think this makes sense, we could introduce this in 2.x @bgaillard interested in opening a PR?

[2015-07-05 19:47] megawac commented on #2651
@samccone the whole idea of the staticify thing I was proposing was to avoid augmenting any `BB` prototypes. It would let you do `Marionette.Model.destroy(normalBackboneModel)` or `Marionette.ItemView.bindEntity(normalBackboneView, events)`

[2015-07-05 20:08] samccone commented on #2651
I see and do the work inside of the method to "normalize" the object?

[2015-07-06 04:37] paulfalgout commented on #2651
@samccone the issue not to classify Bb is here: https://github.com/marionettejs/backbone.marionette/issues/2637

[2015-07-06 05:45] paulfalgout commented on #2637
So we should just make classify public so you could classify something if you need it.

[code]

[2015-07-06 07:21] bgaillard commented on #2652
Hi, I would be happy to do it but i'm curently in holidays for 2 weeks and i'll have a lot of work to do when i'll come back. So i will be able to work on this not before 3 or 4 weeks, don't know if it feets the 2.5 scheduled release date ? Thanks

[2015-07-06 08:27] yellowcap commented on #24
@neptunian this comes late and I add this here for future reference. I had the same problem and was able to bind the controller to `someMethod` using underscorejs `_.bindAll(options.controller,  'someMethod')`

[2015-07-06 16:15] samccone commented on #2637
xpost

So I am -1 to modifying the bb prototype, the reason being that it simply does not scale.

Marionette works off of the idea that if you provide a view that adheres to the interface API that what we expect (see a backbone view or Mn View) you can just use it inside of Marionette and things "work".
Thus making things interop with BB without any prototype shenanigans means things like ampersan

[2015-07-07 12:43] designermonkey commented on #2357
I'm very close to giving up on this whole thing as it seems I can't seem to make people understand what is so fundamentally wrong with div wrapping.

Also, the solutions proposed do indeed work, but they have to be considered a hack. Why? Because details I can and should describe in my template are having to be pulled across into JavaScript, therefore separating out my single template into two pla

[2015-07-07 13:07] jmeas commented on #2357
@designermonkey, I'm sorry that you're frustrated! I understand that it can be annoying to try to prove your point. But I'm on your side here, so I'm gonna reopen this - it's worth thinking more about.

Do note that if you don't want to follow along you can unsubscribe to the right.

[2015-07-07 14:49] samccone commented on #2357
@jmeas do you have a recommendation as to an approach here?

[2015-07-07 16:15] jridgewell commented on #2357
Here's a [minimal gist](https://gist.github.com/jridgewell/ac441eccdb88a9977a62) to accomplish template defined root elements.

I'm going to open a PR against core Backbone for `#_attributes` to easily allow devs to update the root element's attributes after a render (my [issue one](https://github.com/marionettejs/backbone.marionette/issues/2357#issuecomment-117220032) above). Unfortunately, nothi

[2015-07-07 17:09] RealAdamSinger opened #2660 "Bulk/batch updating of views when models are added/removed from collection view in bulk"
Currently adding x models to a collection view causes x browser repaints even if the models are added all at once, this causes many unnecessary repaints.
I may be generalizing but this means if you add 1000 models to an existing collection view, the dom gets repainted 1000 times even though all the information was provided to have done in 1 (like how reset works)

This causes performance issues es

[2015-07-07 17:53] jridgewell commented on #2605
Re: https://github.com/jashkenas/backbone/pull/3060

[2015-07-07 18:04] JSteunou commented on #2605
The thing is `initialize` exists so we dont have to override the constructor and call super. This same existence can be reconsidered as soon as we have to move things into constructor again, just to *make things work*.

I'm very fan of using a model as state storage for some big views, so I'll always have some model created in this `initialize` method. And for collection views, I'm using visual lo

[2015-07-07 18:45] akre54 commented on #2605
Just call `delegate` or turn your events hash into a method. Not sure why you'd want to edit your `events` in initialize.

[2015-07-07 19:28] ahumphreys87 commented on #2318
yeah sounds good @ianmstew

[2015-07-07 19:49] ahumphreys87 commented on #2582
fixed with #2648

[2015-07-07 19:49] #2582 closed

[2015-07-07 21:39] ahumphreys87 commented on #2615
fixed with #2616

[2015-07-07 21:39] #2615 closed

[2015-07-07 21:50] ahumphreys87 commented on #2568
@bradlord im wondering what your use case is for using `attachView` rather than `show`? `attachView` doesn't actually do any DOM manipulation. I'm actually going to propose this method is cut from the API. @samccone @jasonLaster any objections?

[2015-07-08 09:56] cybernetlab commented on #2578
Sorry - I'm busy now. I'll review my PR at Saturday or Sunday.

[2015-07-08 10:23] JSteunou commented on #2605
I think you misread. I'm not editing my `events` in `initialize`. I'm creating a model / collection in `initialize`. Doing this & having a `modelEvents` or `collectionEvents` worked with BB 1.1.x, do not work with BB 1.2.x.

My issue is simple as that.

And no I wont search & replace or re-write hundreds of views just to go with a new way of doing this or that.

[2015-07-08 11:54] bradlord commented on #2568
@ahumphreys87 My use case is more or less exactly what's described in the [documentation for `attachView`](http://marionettejs.com/docs/v2.4.2/marionette.region.html#attach-existing-view): I have an existing DOM structure, and I am attaching views to some DOM elements to add behavior. If I use `show` instead of `attachView`, the existing DOM elements will be removed.

@cmisenas I'm not expecting `

[2015-07-08 14:40] JSteunou opened #2661 "isEmpty in collectionView is no longer useful as public method since 2.4.0..."
... because of a call on `children.isEmpty`

We could override `isEmpty` because it's public, and provide another logic then the simple `this.collection && this.collection.length` but this logic of ours get squashed by a new incomer from 2.4.0

https://github.com/marionettejs/backbone.marionette/blob/v2.4.0/src/collection-view.js#L209

The use case is: overriding `isEmpty` to return false in some

[2015-07-08 14:40] jridgewell commented on #2661
https://github.com/marionettejs/backbone.marionette/pull/2641

[2015-07-08 14:48] JSteunou commented on #2661
Nice catch, could fix this. But I'm still wondering the real utility of this line, and if there was not a better way to achieve what it does.

[2015-07-08 14:50] jridgewell commented on #2661
[I agree](https://github.com/marionettejs/backbone.marionette/pull/2641#issuecomment-119308566).

[2015-07-08 14:51] JSteunou commented on #2661
Should the `isEmpty` check on `children` is a filter is set, and if not, fall-back on `collection && collection.length`

[2015-07-08 15:48] akre54 commented on #2605
`delegateEvents` deals with DOM events only, it doesn't touch model or collection events. Those should work exactly as before. If they don't, mind creating a small reproducible JSFiddle (that used to work on 1.1.x and stopped working in 1.2.0) and open an issue on Backbone so we can take a look? Thanks.

[2015-07-08 15:56] JSteunou commented on #2605
The issue is not more on BB or Mn. `delegateEvents` still work as before and as it should in a BB context. That's why this issue is on Mn and not on BB github repo.

The issue come when using BB 1.2.x with Mn **and** model / collection events **and** model / collection attached in `initialize`. @samccone as a point when he said above that Mn did not break is code in 2.4.x and you have a point sayi

[2015-07-08 15:56] Ky6uk commented on #2605
@akre54 `Mn` bind `model` and `collection` events together with DOM events by replacement of `delegateEvents`. https://github.com/marionettejs/backbone.marionette/blob/b0711585b022cfeb4822129a4cde5591f21f06bc/src/view.js#L86

[2015-07-08 16:20] akre54 commented on #2605
Urg. So much for "not breaking code" ;)

If you override a method to do something it's not supposed to do things are going to break. Model and collection events are very different from DOM events, and they shouldn't be mixed this way.

[2015-07-08 16:30] jmeas commented on #2605
For sure. We identified this as a problem quite some time ago, actually. It's one of those features from a time before the current team of maintainers, and it's scheduled to be fixed in the next major release (@jridgewell referenced the PR that fixes it [above](https://github.com/marionettejs/backbone.marionette/issues/2605#issuecomment-113177356)).

[2015-07-08 16:31] paulfalgout commented on #2605
This issue was introduced in Mn `1.0.0` :-)

[2015-07-08 16:31] ianmstew commented on #2605
Excellent point on the override dealing with unrelated events.  All the more why I'm excited for the next major: https://github.com/marionettejs/backbone.marionette/pull/2241/commits.

[2015-07-08 16:32] jmeas commented on #2605
Ah, I stand corrected, then!

[2015-07-08 16:33] paulfalgout commented on #2605
WAT?  Who else was around then?  https://github.com/marionettejs/backbone.marionette/commit/16daa2ee6c78cd915c50df8b6e3ec5caaf9876b3

[2015-07-08 16:36] JSteunou commented on #2605
So is #2241 will be backported into 2.4.3? Pretty pleeeaaassee :sweat_smile:

[2015-07-08 16:38] paulfalgout commented on #2654
Opened as an issue on the .com repo and **xref**'d

[2015-07-08 16:38] #2654 closed

[2015-07-08 16:38] samccone commented on #2605
I summon @derickbailey

[2015-07-08 16:41] JSteunou commented on #2605
Such power :sparkles:

[2015-07-08 16:43] jmeas commented on #2605
Oh, oops. I originally read that as v2. I'm drugged up on pain meds right now...you'll have to forgive me :stuck_out_tongue:

I think it would go against semver to change the behavior of this public method. I know it's a pain, but it'll have to wait until v3.

Feel free to patch your base View class directly, though. I do it all the time to change APIs before they get released officially! It does

[2015-07-08 17:12] jridgewell commented on #2605
Adding `#delegateEntityEvents` to the end of `#delegateEvents`, then calling `#delegateEvents` in the constructor after the super call is all that's needed. You'll actually be preserving backwards compatibility.

[2015-07-08 17:22] JSteunou commented on #2605
Though the same.

[2015-07-08 21:47] jasonLaster opened #2662 "Move Helpers into their own files"
We currently have many utils assigned in `helpers.js`. It'd be nice if they were each in their own file in a utils folder. An example of this would be `utils/isNodeAttached.js`.

What needs to get done:
+ create files
+ update build / test files

[2015-07-09 14:07] jasonLaster opened #2663 "Update CONTRIBUTING.md"
we should improve this doc:
[contributing.md](https://github.com/marionettejs/backbone.marionette/blob/master/CONTRIBUTING.md)

#### should have a table of contents
we've got lots of material but it's hard to follow. it'd be better if there were a TOC on the top so that we could see all the material.

#### should have the steps for getting started:

[code]

the eslint people have some good content

[2015-07-10 07:51] lococo--0 opened #2666 "childEvents can't bind muti func to the same event"
when i use childEvents in the LayoutView:

[code]
i found that only func2 had been executed,
but i want the func1 should exec at the same time

[2015-07-10 08:05] theodorDiaconu commented on #2605
I had a similar problem to the CompositeView, events were attached prior to construction. Solution was, after I instantiated the collection, I manually called the managing of events.

[code]

[2015-07-10 08:12] JSteunou commented on #2605
If there is no backport of a fix, can we at least document this so people using the last BB dont get annoyed?

An official simple way to get around or a monkey patch or both.

[2015-07-10 08:42] lococo--0 opened #2667 "triggerMethod bubble fail?"
the are two cases:

1) layoutView -> region -> collectionView -> layoutView -> itemView
2) layoutView -> region -> collectionView -> itemView

in the first case, i triggerMethod in the itemView, i can't catch the event in the first layoutView.
in the second case, i do the same thing, the layoutView catch the event

it seemed that layoutView can not bubble the event to the parent view.
is that righ

[2015-07-10 08:47] PhilippMi opened #2668 "Use of deprecated $.selector does not work with Zepto"
[Region.reset()](https://github.com/marionettejs/backbone.marionette/blob/master/src/region.js#L272) uses [$.selector](https://api.jquery.com/selector/) which was deprecated in jQuery 1.7.

Furthermore, Zepto returns an Array instead of a String when this.$el.selector is invoked. Hence, Region.reset() does not work with Zepto.

I made a little fiddle illustrating the issue:
Zepto-Version: http://j

[2015-07-10 14:46] paulfalgout commented on #2605
@theodorDiaconu I don't think this is the same thing..  InitialEvents is not called until the first render

[2015-07-10 15:57] JSteunou commented on #2605
His issue was "add" event were not detected anymore if I recall from gitter discussion. And collectionEvents do not work anymore when setting `this.collection` in initialize with BB 1.2.x. It's definitely related.

[2015-07-10 23:07] MeoMix opened #2669 "Should the events hash be responding to jQuery's triggerHandler method?"
Hey,

I'm working with some legacy code at the office and this plugin we use seems to use `triggerHandler` rather than `trigger` for firing events. I don't have a ton of XP with `triggerHandler`, so maybe this functionality makes sense, but I was really confused with unexpected results from the following:

	var TestView = Marionette.ItemView.extend({
	  template: _.template('<div class="foo"></div

[2015-07-12 20:17] paulfalgout commented on #2669
I expect the issue here is that DOM events are all attached to the `el`.  And `triggerHandler` very specifically only triggers on the exact elements with no propagation.  That's a bit of an guess though.  However this might be a good issue to open on backbone.  If there is a fix it'll most likely need to occur there.

[2015-07-12 20:21] paulfalgout commented on #2668
Also see https://github.com/marionettejs/backbone.marionette/issues/1852

[2015-07-12 20:24] paulfalgout commented on #2666
Try:
[code]

[2015-07-12 20:24] #2666 closed

[2015-07-12 20:25] paulfalgout commented on #1852
Reopening for greater visibility for v3

[2015-07-13 13:27] StevenLangbroek commented on #2474
Maybe we could expose a `setRenderer` method on `Mn`, and have the "engine" authors take care of pulling in dependencies etc. So i.e. implementing a `Handlebars` renderer would look like this:

[code]

[2015-07-13 19:11] ahumphreys87 commented on #2568
ah! @ianmstew this is what we missed! :stuck_out_tongue: ok @bradlord I think its reasonable to expect events to be attached - @jasonLaster did you have concerns?

[2015-07-14 06:04] anianj opened #2673 "Why region invoke view's render method every time it shows it？"
It seems that the region should only invoke view's render only when the view has not been rendered.
How do you say?

[2015-07-14 12:55] Tvrqvoise commented on #2237
As pointed out by @somebody32 on the gitter channel, it looks like we used to have this feature: https://github.com/marionettejs/backbone.marionette.async

[2015-07-14 12:59] jmeas commented on #2237
Tbqh I'm not that big a fan of this. Forcing everyone to deal with async render sucks, especially if it's to support a use case that isn't a best practice.

Imo people should not be downloading templates from the server. Rather, they should precompile them and bundle them with their build tool.

I'd rather we just do two things:

1. Add a note in the documentation encouraging people to not do this

[2015-07-14 13:41] Tvrqvoise commented on #2237
Yeah, the deprecation message in that marionette.async repo makes me feel concerned about having this feature in core.  Maybe today's code base is different enough that we could support async render without the same overhead, but who knows.

That being said, let's really talk about what we'd be gaining from this before we decide to axe it.  I don't think server loading is the biggest benefit here:

[2015-07-14 15:27] jmeas commented on #2237
All things equal, when comparing sync render and async render there's no competition: synchronous will be faster. This is because Promises are substantially slower than plain function calls. I have a vague recollection of some issue on this repo where someone adamantly argued against async ItemView rendering because of the huge performance loss in the CollectionView.

It's not too tough to create

[2015-07-14 15:50] somebody32 commented on #2237
@jmeas you're right, but async rendering allows you to unblock the main thread, so user will not be forced to see the frozen UI. Also, you can combine it with the bathched DOM inserting, so page will render progressively, without need to wait for all N items in the collection to render

[2015-07-14 16:00] jmeas commented on #2237
Right, for sure. I was grouping all of those fancy things in with the "other technologies" I mentioned at the bottom of my post.

[2015-07-14 16:10] megawac commented on #2237
I feel like both those arent fancy but natural benefits of async render
strategies
On Jul 14, 2015 12:01 PM, "James Smith" <notifications@github.com> wrote:

[2015-07-14 20:05] Tvrqvoise commented on #2237
Asynchronous render is slower if you measure JS execution alone.  For running a series of synchronous steps, nothing can best synchronous execution.  Asynchronous render only has the potential to be faster if you're optimizing for the network and browser paints, which I feel is a more likely bottleneck.

[2015-07-14 20:48] jasonLaster commented on #2568
i'm good with `attachView` binding the events. @cmisenas interested in taking a stab at this?

[2015-07-15 13:56] cmisenas commented on #2568
sure @jasonLaster. I think I have a bettter understanding now.

[2015-07-16 22:59] Tvrqvoise commented on #2357
Wait a sec.  Maybe I'm just not getting things here, but how would this be different from using the region as ```$el```?  If these two features accomplish the same end result, yet are incompatible, I'm **-1** for this feature.

I mean, I guess it would be different if you were attaching the view outside of a layout, but if you do that, you're sorta already outside framework-land.

[2015-07-17 00:32] Tvrqvoise commented on #2166
Proposing ```getContext``` as a name.  It's a verb, is agnostic to what you're passing in, and matches some template languages' nomenclature.  Either way, I totally agree that having both of these methods is overkill.

[2015-07-17 08:52] designermonkey commented on #2357
Because a region is a region. It is not a view. This behaviour is needed on the lowest level views.

[2015-07-17 16:19] nezaidu opened #2677 "Wouldn't it be wonderful if triggers would also pass original event down?"
Now you're passing only this:
[code]
Example: i have collection view that listens to its children to open modal window to play video, but since i can't have access to original event, i can't get video id to find it in model to get link to it.

[2015-07-20 20:32] ahumphreys87 commented on #2662
fixed via #2665

[2015-07-20 20:32] #2662 closed

[2015-07-21 13:41] KarlPurk opened #2678 "404 on marionettejs.com v1.7.0 docs"
The v1.7.0 docs page on [marionettejs.com](http://marionettejs.com) returns a 404.

Here's the link: http://marionettejs.com/docs/v1.7.0.

Cheers!

[2015-07-21 13:46] samccone commented on #2678
https://github.com/marionettejs/marionettejs.com/issues/416

[2015-07-21 13:46] #2678 closed

[2015-07-21 19:56] jasonLaster commented on #2474
that'd be nice @StevenLangbroek

[2015-07-21 23:10] ambischof commented on #2357
@Tvrqvoise I myself have come across this solution, however inelegant.

It would be really nice if region el s could be leveraged similarly to a CompositeView's childViewContainer, however then you either have to rewrite the region's show/attachHtml code or manually bind the currentView to the view and then all your event bindings have to be manually .. and all the native region events don't...  E

[2015-07-22 01:18] Tvrqvoise commented on #2357
@ambishof, it looks like #2625 would provide that functionality.

[2015-07-22 03:40] ElderMael commented on #2650
This bite me a few days ago. I had to make the the view implement the method in the Behavior. E.g.

initialize: function() {
   this.view.onSomeTrigger = this.someTriggerHandler.bind(this);
}

Any advance on this? I have seen the current implementation and I see that there is a return value being saved if the view has a handler method and then it proceeds to call the view behavior and parent views

[2015-07-22 11:58] Tvrqvoise commented on #2474
I've yet to find a templating language which doesn't already have an open source MN adaptor for it maintained by some random dude working for some random company.  And that's okay -- that dude probably knows more about that templating language than we would.  Maybe a ```renderers.md``` or a page on the docs site linking to the various repos, perhaps with some information about overriding the defau

[2015-07-24 13:16] drgrey87 opened #2679 "CompositeView doesn't listen "destroy" event from her ChildView. It repeats when marionette (2.4.2), backbone(2.1.2), underscore (1.8.3). When marionette (2.4.2), backbone(1.1.2), underscore (1.6.0) - it's ok."
**When i use marionette (2.4.2), backbone(2.1.2), underscore (1.8.3):**

In ItemView i deleted model:
[code]

In CompositeView i listen event, but *someFunc* not fire:
[code]

**When i use marionette (2.4.2), backbone(1.1.2),  underscore (1.6.0) - all correctly works**

[2015-07-24 13:36] samccone commented on #2679
@drgrey87 can you create a test case for this?

[2015-07-24 14:01] drgrey87 commented on #2679
**@samccone**

[code]
Something like this. Here short variant ItemView.

[2015-07-24 17:15] MeoMix commented on #2531
I'm probably going to pull an all nighter this evening to get a lot of different tasks done. I'll try to pick this one up.

[2015-07-24 17:18] MeoMix commented on #2633
Is this really able to be fixed in a non-major release? Feels like someone could've built a dependency on the order of events firing.

[2015-07-26 05:36] paulfalgout commented on #2679
This is another report of the issue here:  https://github.com/marionettejs/backbone.marionette/issues/2605

[2015-07-26 05:36] #2679 closed

[2015-07-26 05:40] paulfalgout opened #2680 "Deprecate region.reset and remove in v3"
Because https://github.com/marionettejs/backbone.marionette/issues/2668 and https://github.com/marionettejs/backbone.marionette/issues/1852

[2015-07-28 12:56] cvisco commented on #2677
Agreed. I was just about to file this same issue. Looking at the `View#_buildViewTrigger` source, it seems like it would be trivial to do this.

[2015-07-28 15:50] theseyi commented on #2388
@sentientnebula I have a similar issue with the new internal implementation of attachHtml, (which is really a misnomer now, since no html is attached or manipulated in the method), however, did #2496 solve the issue you describe here? or are you still using your custom implementation of overriding _createBuffer? Thanks

[2015-07-28 18:32] theseyi commented on #2394
Is there a tracking issue to fix this in 2.4.x or 3? Changing _createBuffer to createBuffer so it's not marked just for internal use would be a viable solution as suggested by @sentientnebula, @ahumphreys87

[2015-07-28 18:34] theseyi commented on #2388
@ahumphreys87

[2015-07-28 18:35] Ky6uk commented on #2394
@theseyi 2.4.2 fixed this issue.

[2015-07-28 20:10] RickHolmes opened #2681 "Adding multiple models re-renders CollectionView"
This might be deliberate, but if you add more than one model at a time to a CollectionView's collection, the entire CollectionView will re-render. This will happen if you add a model or let Backbone create one by adding json. Adding a single model works as expected.

This affected me when lazy loading items four at a time on scroll. While it does make any new images all load at the same time, it's

[2015-07-29 03:49] ianmstew commented on #2651
Just a heads up, but this issue's PR is now updated.  Conversation should continue there.  See #2658.

[2015-07-29 14:14] jasonLaster commented on #2578
DONE
https://github.com/marionettejs/backbone.marionette/commit/9070bad2940564e7a975e4b0310d25768d986fea

[2015-07-29 14:14] #2578 closed

[2015-07-29 19:14] granmoe commented on #828
I ran into this problem and ended up doing the following (hacky) solution:

[code]

[2015-07-29 21:19] mix3d commented on #2117
I don't know if I'm digging up an old issue here, but I had the same problem. What ended up fixing it, was by having the childView class extended/defined BEFORE the definition of the CompositeView class. Perhaps the runtime tries to extend the class before the Itemview is defined, therefore using itself as a fallback?  It might be further convoluted when combined with RequireJS, as I am using, but

[2015-07-30 04:58] #2601 closed

[2015-07-30 04:59] #2569 closed

[2015-07-30 08:46] lococo--0 commented on #2673
the region's show will destroy the view that has already been showed in the region. and render the new one. it should invoke the render every time.

[2015-07-30 08:53] lococo--0 opened #2683 "childEvent no use in Behavior"
there are events, modelEvents, collectionEvents in Behavior, but childEvent no use ! no use ! no use !

[2015-07-30 10:13] z0091 opened #2684 "CollectionView length collection has not correct"
HI!!

After filling out the data collection, the length of the template (<% = length%>) is not the correct value.
But if I replace the function serializeData, everything works.

[code]
Thanks!

[2015-07-30 12:46] mindrones opened #2685 "Controller and Object are pretty similar"
Hi,

while reading the source code I've noticed that `Controller` and `Object` are pretty similar

![backbone_marionette_object_controller_similar_code](https://cloud.githubusercontent.com/assets/1309648/8983129/e036027a-36c7-11e5-8eb4-899f812ba67d.png)

Is there any specific reason for that?

Why not merge the `Controller` in the `Object`?

By looking at this portion of a *preliminary* / *draft*

[2015-07-30 17:22] paulfalgout commented on #2685
Controller wasn't a great name, but is deprecated and scheduled for removal in v3.

[2015-07-30 20:28] Seebiscuit commented on #2650
So, I want this feature too. I'm not harping about the inconsistent behavior coming out of `triggerMethod`, rather I want `triggerMethod` to pass along returns. I like to use Promises on my handlers, and `triggerMethod` is almost useless without a return value, in that respect.

This one, I think, is very tricky. For one, `triggerMethod` is found all over the place. And, then, we have methods (whi

[2015-07-31 08:46] mindrones commented on #2685
Thanks @paulfalgout.
BTW when is v3 scheduled? I keep reading about deprecation but I can't find a roadmap :/

Also, reading a lot of deprecation warnings in docs sends a message of uncertainty and makes you feel like the lib is not well maintained or designed. Is there any sort of design document around? Maybe I help with docs?

[2015-07-31 13:45] Vanuan commented on #2117
Why "model" is a model instance while "childView" is a class? This is a design problem. This really should be a string "childViewClassName".

[2015-08-01 02:02] blikblum opened #2688 "Support template-less CompositeView"
Just as ItemView that you can set `template:false`: http://marionettejs.com/docs/v2.4.2/marionette.itemview.html#template-less-itemview

Trying to use `template:false` with CompositeView i get message TemplateNotFoundError: Cannot render the template since its false, null or undefined.

Using version 2.4.2

[2015-08-03 11:14] frankcortes commented on #2688
As far as I know, you can create a CompositeView without template, but this view [cannot be rendered.](http://marionettejs.com/annotated-src/backbone.marionette.html#section-211)

[2015-08-03 11:33] frankcortes commented on #2688
I cannot think a real case where you could need a compositeView without template! Could you add an example, @blikblum ?

[2015-08-03 16:15] blikblum commented on #2688
I hit this issue doing http://codepen.io/blikblum/pen/XbydRE . I added meancalc-tpl just because CompositeView can not be template less. I'm starting with marionette, so no examples from bigger apps.

Should be considered also for consistency. I see CompositeView as a sort of specialized LayoutView, and the later allows to be template less. In fact, i took as granted that would work when i tried t

[2015-08-03 19:14] paulfalgout commented on #2404
So I've recently encountered a couple of instances in which bubbling an event up was useful outside of a view.  I'm wondering if the bulk of this could be done in a util that could also be applied to object such that something like
[code]
could just be:
[code]
or possibly even something like:
[code]
Then if it supported a hash, `childTriggers` would simply be an internal use of this util much like

[2015-08-03 22:53] megawac opened #2689 "underdash/Lodash v4 support"
There are some major changes taking place in lodash v4/underdash.

First of I'd like to suggest that v3 update its backbone and underscore dependencies to something like `>= 1.1.2` and either `>= 1.6` or `>= 1.8`, respectively (which would have other advantages besides making it less of a pain to support cross version compatibility). Next, we if we want to be future compatible with lodash v4 (shou

[2015-08-04 01:05] megawac commented on #2689
This may be a good reason to reopen/fork https://github.com/marionettejs/backbone.marionette/pull/2440

[2015-08-04 03:23] paulfalgout commented on #2689
I'd be :+1: for updating the Bb and _ dependencies.  I'm not sure if there's any strong feelings against that for v3?  `1.1.2` and `1.6.0` are pretty old now, but I'm sure widely used..  I'd doubt that anyone pre-that would be upgrading to Mn v3.  But we should do it particularly if that opens the path easier for future proofing and less maintenance headaches.

Everything else though seems doable

[2015-08-04 13:59] jasonLaster commented on #2689
Thanks @megawac. I think we should feel safe upgrading in a major release. I agree with Paul with respect to starting another Major project right now. If a PR was opened that did the upgrade and the tests passed I'd merge, or if there was a way to do a small breaking PR and then do incremental non-breaking improvements that would be fine.

This might be one of the rare cases where an AST search co

[2015-08-04 14:00] jasonLaster commented on #2404
that could be nice. like bindEntityEvents but a little different...

[2015-08-04 15:47] jasonLaster commented on #2663
We should add this dude to the contributing docs.

[code]

the html is helpful in markdown docs for centering images :)

![](https://www.dropbox.com/s/wj68so87r1aofdh/marionette%20construction%20worker.jpg?dl=1)

[2015-08-04 15:53] megawac commented on #2663
It better be a gif

[2015-08-04 16:13] jasonLaster commented on #2663
lol - the dude or the cat?

[2015-08-04 21:11] ahumphreys87 commented on #2590
Fixed with #2592

[2015-08-04 21:11] #2590 closed

[2015-08-04 21:38] ahumphreys87 commented on #2685
@mindrones there will be quite a bit of deprecation in v3 but we are looking at some nice new features as well. We will of course be doing our best to ensure the upgrade process is as smooth as it was for v1 => v2.

We introduced `Object` in v2 to replace `Controller`, however did not want to completely remove it until the next major release as it obviously a change that could break some applicati

[2015-08-04 21:38] #2685 closed

[2015-08-04 21:44] ahumphreys87 commented on #2688
@blikblum I think #2565 would solve this issue. Also note that as of v2.5/v3 you will be able to create CompositeView functionality with a LayoutView - CompositeView is a candidate for removal in v3 as it's usefulness will disappear once #2625 lands

[2015-08-04 21:44] #2688 closed

[2015-08-04 21:45] ahumphreys87 commented on #2684
hi @z0091 could you provide a simple jsfiddle that illustrates your problem?

[2015-08-04 21:46] ahumphreys87 commented on #2689
yup im pro for doing this as well

[2015-08-04 21:49] ahumphreys87 commented on #2681
@RickHolmes could you provide a simple fiddle showing your problem? Were you sorting the collection?

I don't think this functionality is deliberate but I don't think I have seen this behavior before so a fiddle would be a great help for us to try and debug

[2015-08-04 21:50] ahumphreys87 commented on #2677
I think this would be nice, I have come across this myself. @nezaidu @cvisco would either of you be interested in submitting a PR for this?

[2015-08-04 21:56] ahumphreys87 commented on #2673
yeah this is desired behavior. Views are intended to be destroyed and recreated rather than reused. We made a decision to encourage this in v2 by renaming `view.close` to `view.destroy`.

[2015-08-04 21:56] #2673 closed

[2015-08-04 21:59] ahumphreys87 commented on #2667
@ianmstew is this related to your `childEvent` PR's on `CollectionView`?

@lococo--0 for a bit of background there is some work ongoing to clean up the API and differences between childView in `CollectionView` and a `childView` in a region/`LayoutView`. The PR to fix this may have already landed in the `next` branch actually

[2015-08-04 22:02] ahumphreys87 commented on #2660
@RealAdamSinger we use a `DocumentFragment` for this very reason on initial render. @jmeas didn't you do some investigation on this not long ago?

Use of the `update` event may come in for v3 - we are talking about bumping the BB dependency.

[2015-08-04 22:04] cvisco commented on #2677
@ahumphreys87: sure I can take a look at this.

[2015-08-04 22:07] ahumphreys87 commented on #2655
@newtonianb this can sometimes happen if your app's BB dependency does not satisfy Marionettes BB dependendcy (or Wreqr) - what happens is Marionette will pull in its own BB dep and attach itself to that. Could you check your `node_modules/backbone.marionette/node_modules` directory and look to see if it has pulled down `backbone` - if it has this is most likely your problem

[2015-08-04 23:39] cvisco commented on #2677
I went with "originalEvent" as the argument property in the PR. "event" seemed like it might be confusing. "domEvent" was another option. If anyone has strong opinions i'm happy to change it.

[2015-08-05 12:00] mindrones commented on #2685
@ahumphreys87 it would be nice to have things documented using jsdoc, even right now as it helps documenting deprecated stuff, etc. I know that [annotated source](http://marionettejs.com/annotated-src/backbone.marionette.html) is built upon current comments but I think we might get to the same result using jsdoc as well.

[2015-08-05 12:08] ahumphreys87 commented on #2685
@mindrones this is something we have actually started to implement: https://github.com/marionettejs/backbone.marionette/tree/master/api

If you are offering assistance in this area that would be awesome, more than awesome in fact :)

[2015-08-05 12:18] mindrones commented on #2685
@ahumphreys87 nice! I'll have a look at that. Meanwhile do you have any link to a roadmap or proposals to follow a bit the transition? Thanks!

[2015-08-05 12:28] mindrones commented on #2685
The only downside of separating jsdoc from the code is that editors won't be able to benefit from it.

![marionette_jsdoc_annotations](https://cloud.githubusercontent.com/assets/1309648/9085544/10f67e52-3b7e-11e5-8f98-895af3359702.png)

[2015-08-05 22:56] newtonianb commented on #2655
@ahumphreys87 thank you for your feedback. I don't have a node_modules folder under node_modules/backbone.marionette should i?

[2015-08-06 10:19] anthony-redFox commented on #2689
Hello, I try create report using underscore/lodash in MarionetteJs (only folder src).
https://docs.google.com/spreadsheets/d/1auq_MbgMFqbhx7u__ky4XhnU_j_Z16LEdQCzVThQAp0/edit?usp=sharing

In core Underdash
_.invert
_.keys
_.each
_.extend
_.invoke
_.bind
_.find
_.rest
_.reduce
_.defaults
_.values
_.partial
_.chain
_.filter
_.flatten
_.map
_.pick

Not in core Underdash
_.isFunction
_.result
_.bindAl

[2015-08-06 14:51] megawac commented on #2689
Fantastic stuff, thanks @anthony-redFox. Though some of the ones you mentioned are in core underdash (see https://github.com/underdash/underdash/issues/4#issuecomment-123401192)

So from the list you provided:
[code]

Leaving

[code]

[2015-08-06 15:54] jasonLaster commented on #2689
just geeked out on this https://docs.google.com/spreadsheets/d/1ZCUAczEE-FuLf41ColFAk6pvBhsD1ZjdwU8_qvblgqA/edit#gid=0

@anthony-redFox - feel free to make yours the official
I added custom formats, sorted by files with the most _ usage, and made it editable

[2015-08-06 15:56] jasonLaster commented on #2689
@megawac - mind commenting in the spreadsheet, what we need to do for each function?

[2015-08-06 16:16] megawac commented on #2689
So the ones that will be most annoying to work around for `core` support are `template` and `union`.

@jdalton why are `omit` and `drop` not included as they are simple derivatives of other functions included?

[2015-08-06 17:00] jdalton commented on #2689
I wouldn't worry about `core` support. It's intended for devs who make snap judgements about a lib based solely on file size without the technical chops to crasp modules or build systems. These folks are probably the copy/paste style devs who like to make a bunch of noise on social media but have little impact elsewhere.

[2015-08-06 17:01] jdalton commented on #2689
#realtalk

[2015-08-06 17:04] jdalton commented on #2689
For the `core` build the choice of why one method over another literally comes down to what has the least deps and can fit into a 4kb build. Methods like `omit` have deps which inflate the build size so it comes down to having `omit` or having 3 other smaller methods.

[2015-08-06 17:25] jdalton commented on #2689
That said, I've been able to squeeze in a few more methods (up to 62 now). So if there's one you'd dig let me know and I'll shift some stuff around.

I've added `_.slice` which is a dep of `_.drop` so I could see fitting that in.
The `_.union` method would require `_.uniq` so that's a bit trickier and `_.template` is rather large.
I could see `_.template` being a popular request so I could see dro

[2015-08-06 17:37] megawac commented on #2689
Nah, I wouldn't worry about template in core. I mentioned omit and drop as all their deps were already included in core

[2015-08-06 17:39] jdalton commented on #2689
The main knock against `_.omit` is it would require a reduced `difference` method which then leaks in to the other related methods.

[2015-08-06 19:50] ambischof commented on #2683
See this issue https://github.com/marionettejs/backbone.marionette/issues/2235

[2015-08-06 20:21] paulfalgout commented on #2683
@ambischof good xref.  Thanks!

[2015-08-06 20:21] #2683 closed

[2015-08-06 20:24] paulfalgout commented on #2689
While it is understandable: `_.omit(_, 'omit') === 'sadness'`

[2015-08-07 06:27] lococo--0 commented on #2683
Does it means `onChildviewDoStuff` is useful in all behavior?

But it seems that `onChildviewDoStuff` in my LayoutView can be invoked, no work in the behavior of the LayoutView.

[2015-08-07 13:13] ambischof commented on #2683
I found that too, so in my behavior instead of `this.triggerMethod('foo')`, I did `this.view.triggerMethod('foo')` and it worked.

If anyone can explain this to me, it'd be great, since it wasn't immediately obvious from reading the source code.

[2015-08-07 16:18] JSteunou commented on #2681
Mn should listen to "update" event, but this event is BB >= 1.2

[2015-08-08 14:40] red2678 commented on #805
It helped me :+1:  Booom!

[2015-08-09 14:25] lococo--0 commented on #2683
@ambischof the behavior not a view, you can just `triggerMethod` in the view not in the behavior.

[2015-08-09 14:28] lococo--0 commented on #2235
@ahumphreys87 @MeoMix
Does it means `onChildviewDoStuff` is useful in all behavior?

But it seems that `onChildviewDoStuff` in my LayoutView can be invoked, no work in the behavior of the LayoutView.

[2015-08-09 18:41] kp25 opened #2695 "rendering only childviews within a composite view"
I'm using composite view to render a table, with some filter like options on top of the table. I'm wrapping the table rows (collection) with table header and filter options. On applying the filter option i don't want the entire table to be re-rendered, i just want the collection, childviews to be re-rendered, so that template wrapping the collection could be rendered only once at the begining.
Is

[2015-08-09 18:53] jmeas commented on #2695
:+1:

There should be a public method, say, `renderChildren()`, that does just this.

[2015-08-09 19:18] howardroark commented on #2166
I think `templateContext` sums it up for me.

[2015-08-10 22:38] RaphaelDDL opened #2696 "Clarification regarding Behaviors triggering order design"
Hello there,

The docs for [Behaviors](http://marionettejs.com/docs/v2.4.2/marionette.behaviors.html) don't explain thoroughly about the feature but what we can [concur](http://garethdavies.me/2014/03/26/marionette-behaviors.html) [from](http://benmccormick.org/2015/03/23/staying-dry-with-marionette-behaviors/) [some](http://spin.atomicobject.com/2014/09/11/marionette-behaviors-overview/) [posts](

[2015-08-11 21:39] ianmstew commented on #2657
Fixed by #2658.

[2015-08-11 21:39] #2657 closed

[2015-08-11 21:40] ianmstew commented on #2651
Fixed by #2658.

[2015-08-11 21:40] #2651 closed

[2015-08-11 21:47] ianmstew commented on #2568
Fixed by #2675.

[2015-08-11 21:47] #2568 closed

[2015-08-11 21:50] ianmstew commented on #2347
@ahumphreys87 Is the fix merged into `patch` yet?

[2015-08-11 21:57] ianmstew opened #2699 "Create and bind child views when attaching a CompositeView to existing HTML"
This extends #2565 to create and bind CompositeView _child views_ to existing HTML when `template:false` is supplied.

[2015-08-11 23:06] jasonLaster commented on #2696
Hi, thanks for asking. Behaviors should be independent pieces of interaction. If you're looking to use views to override default behavior then behaviors are not the right utility in my opinion. A straight mixin will suffice.

[2015-08-12 02:16] paulfalgout commented on #2663
@jasonLaster is this closed, or is it open for the image?

[2015-08-12 02:18] paulfalgout commented on #2347
Yep it's in `patch` here: https://github.com/marionettejs/backbone.marionette/commit/81519ef36810a02076afa8a5d4d2718d380e36de

[2015-08-12 02:18] #2347 closed

[2015-08-12 02:19] paulfalgout commented on #2531
@MeoMix can't assign it outside of the org unfortunately.  You still want to pick this up?

[2015-08-12 02:56] paulfalgout commented on #2318
Looks like this was merged by @ahumphreys87

[2015-08-12 02:56] #2318 closed

[2015-08-12 02:57] #2572 closed

[2015-08-12 02:59] paulfalgout commented on #2596
@ianmstew @ahumphreys87 so is this resolved in #2592 or is there something still outstanding here?

[2015-08-12 06:52] coulix opened #2701 "Why dont we use "marionette" in the AMD definition?"
define(['backbone', 'underscore', 'backbone.wreqr', 'backbone.babysitter'], function(Backbone, _) {

should be

    define('marionette', ['backbone', 'underscore', 'backbone.wreqr', 'backbone.babysitter'], function(Backbone, _) {

https://github.com/marionettejs/backbone.marionette/blob/d182dc3f09b13a2603c142029d45994e1455105c/src/build/core.js#L4

This behavior breaks the use of almond.js (requir

[2015-08-12 07:35] coulix commented on #2701
Ok Backbone does, the same. If I want to use almond with Marionette I guess I will need to fork both.

https://github.com/jashkenas/backbone/issues/3151

[2015-08-12 18:33] RickHolmes commented on #2681
Yes, it turns out that the collection was being sorted, even though the comparator is an auto incremented "index" which doesn't fire a sort event in a simpler example. I added a "silent-update": true option, but that didn't seem to do the trick in this case.

So, please close and ignore this issue. My fault, not Marionette's.

[2015-08-12 19:33] katoquro opened #2702 "Can not add to bower webjars because of license issue when deploying"
If you try to add new version of marionette to bower webjars http://www.webjars.org/bower you will get "Failed! Could not get license..."
Please add license info to bower package

[2015-08-13 02:01] ianmstew commented on #2606
Fixed by https://github.com/marionettejs/backbone.marionette/commit/a8771a4f5cd94d847d4e94db88dca26ea51a1acf.

[2015-08-13 02:01] #2606 closed

[2015-08-13 02:48] #2681 closed

[2015-08-13 03:17] ianmstew opened #2703 "Consider merging CV#setFilter algo into #reorder"
_Exploratory_

If there's another way to set a filter (https://github.com/marionettejs/backbone.marionette/pull/2592#issuecomment-130510012), then perhaps we could have setFilter function without the API footprint by merging the diff algorithm into `reorder()` (#2596) and doing something like:
[code]
The merge may not be trivial, but it could be worth taking a look.  Thanks @jmeas.

[2015-08-13 04:45] ianmstew commented on #2166
I think `templateContext` is the best yet.  It implies that the context of methods within the hash are part of the template's context not the view's, which is the case.

[2015-08-13 04:52] ianmstew commented on #2404
@paulfalgout I'm loving it.  I cannot wait to get this in, along with #2464.  My bubbling looks like this right now (worse if there are multiple event arguments):

[code]

Could be this:

[code]

Instead of a view prefix, maybe an optional event name rewrite more like childTriggers?

[2015-08-13 05:10] ianmstew commented on #2667
@lococo--0 Marionette doesn't bubble view events--you have to do that yourself.  In Marionette today (until #2404) you have to perform bubbling like so:

**Grandparent View**
[code]

**Parent View**
[code]

**Child View**
[code]

Take care to use only `triggerMethod`, as support for `childEvents` and `trigger` is pending (#2464).  Like @ahumphreys87 said, the work coming down the pipe will make bu

[2015-08-13 10:42] lococo--0 commented on #2667
@ianmstew
but in my second case, the parent view is a collection view, I have a listener in the grandparent view like:

[code]

in my child view, I trigger the `do:stuff`
[code]

I do nothing in the parent collection view, it means i do nothing to bubble the `do:stuff` event, but in my grandparent view the `doStuff` function has been invoked.

[2015-08-13 13:58] jmeas commented on #2166
:+1: for `templateContext`

[2015-08-13 14:50] ianmstew commented on #2661
Fixed by manual merge, see https://github.com/marionettejs/backbone.marionette/pull/2641#issuecomment-130507335.

For future reference, the current solution is a nonbreaking stopgap.  The more comprehensive solution is already in next for 3.0: https://github.com/marionettejs/backbone.marionette/blob/2af55e5020da9d74c043bd5c121e1f95c45457d9/src/collection-view.js#L277-L285

[2015-08-13 14:50] #2661 closed

[2015-08-13 14:53] ianmstew commented on #2596
@paulfalgout this is not yet resolved. @frankcortes attempted to solve both this and #2592 with a single solution, but it proved to be a rabbit hole.  #2703 is essentially a continuation of this ticket, so it will resolve this one, too--if we get somewhere with it.

[2015-08-13 14:55] ianmstew commented on #2703
@Seebiscuit, interested?  The idea is hopefully to make `reorder()` a smart `render()` method that accounts for both sorting and filtering.

[2015-08-13 15:12] ianmstew commented on #2633
@MeoMix That's a good point, although the only docs on `before:show` are contained within [Region docs](https://github.com/marionettejs/backbone.marionette/blob/master/docs/marionette.region.md#events-raised-during-show), indicating it comes after `render`.  I think the risk of someone following the Region docs for region-like CollectionView events and hitting unexpected behavior is much greater (

[2015-08-13 15:26] jasonLaster commented on #2531
haha @MeoMix would love to see you tackle this

[2015-08-13 21:22] #2633 closed

[2015-08-13 21:53] RaphaelDDL commented on #2696
Thanks for the reply.

Yeah, I was expecting it to behave like a general mixin engine (so I wouldn't need to include yet another plugin - bb.mix), so I tried the examples I showed and also tried create a common templateHelpers and a serializeData as behaviors. But of course they failed as those two don't even trigger events which behavior can listen, which I discovered later.

So, to sum up the Be

[2015-08-13 21:53] #2696 closed

[2015-08-13 22:53] howardroark commented on #2166
In Django a very similar sort of pattern is referred to as template context, that is what brought it to mind.

[2015-08-14 02:14] ianmstew commented on #2404
I just thought of something.  One way `childTriggers` should probably differ from `triggers` is that `triggerMethod(eventName, view, model, collection)` would not be useful.  We'll want to proxy the original event's arguments exactly.  I think this makes sense because we are simply proxying view events, not converting DOM events to view events.

[2015-08-14 03:12] ianmstew commented on #2464
Hey guys, can we bump this to 2.5?  I am super anxious to have this is in, especially after making it clear in 2.4.3 docs that LayoutView does not support `childEvents` triggered with, er, `trigger`.

[2015-08-14 03:30] ianmstew commented on #2701
@coulix You don't need to fork the repos, just provide an alias to `marionette` within your require config.  Here's my app's abbreviated config:

[code]

[2015-08-14 03:39] #2702 closed

[2015-08-14 03:40] ianmstew commented on #2702
:+1:

[2015-08-14 03:56] ianmstew commented on #2684
Hey @z0091, if you're trying to render a collection in a simple ItemView, check out a lesser-known feature of ItemViews: http://marionettejs.com/docs/marionette.itemview.html#rendering-a-collection-in-an-itemview.  Here's an example: https://jsbin.com/barovevene/edit?html,js,console,output.

If you're trying to add collection length to the template of a CompositeView, then you would want to do
[co

[2015-08-14 04:03] ianmstew commented on #2669
Closing for now, please continue the convo if there are more developments.

[2015-08-14 04:03] #2669 closed

[2015-08-14 04:52] ianmstew commented on #2667
Huh!  I was able to reproduce myself: https://jsbin.com/dizebolala/1/edit?html,js,console,output.

It appears that when a child view of a CollectionView triggers an event, it is catchable by _both_ the CollectionView and first ancestor LayoutView's `childEvents` hash.  After some investigating, I found that when a child view of a CollectionView fires an event it takes two paths--[one path](https:/

[2015-08-14 04:56] ianmstew commented on #2656
Interesting.  It doesn't appear the second argument is even used, so the _insertAfter case could be trimmed by one argument.

https://github.com/marionettejs/backbone.marionette/blob/23658edab4f4eafb1f9871e5d392b1775f68b9e2/src/composite-view.js#L147-L177

[2015-08-14 05:14] ianmstew commented on #1263
Leaving child view re-rendering up to the developer as an option makes sense.  This could be done with a detach/re-attach of Regions like discussed here.  I haven't had this problem myself because I write my templates/views in such a way that I never need to re-render a layout, unless it's trivial.

[2015-08-14 07:02] JSteunou commented on #2656
It is very used ! Not by Marionette, but by user who can override `getChildViewContainer` and return different container depending on the childView.

It was added for this purpose the first time.

[2015-08-14 08:00] #2701 closed

[2015-08-14 15:58] ianmstew commented on #2656
I totally missed that--it looks like that second argument would have to support a list of childViews rather than a single childView to catch all cases.

[2015-08-15 19:14] MeoMix commented on #2669
Sure. I asked it on BB: https://github.com/jashkenas/backbone/issues/3761 thanks for the reminder.

[2015-08-18 17:55] Seebiscuit commented on #2703
Sorry, haven't check my notifications in a few days. Let me get my head back into this, hopefully tonight and give a decent response.

[2015-08-18 21:37] jasonLaster commented on #2515
This would be a fine API to me.
[code]

To be clear, we'll switch support from two word keys (channel name and request) to just request

[2015-08-18 21:42] jasonLaster commented on #2275
They're now in their own files and will be modularized soon

[2015-08-18 21:42] #2275 closed

[2015-08-18 21:43] jasonLaster commented on #2273
We've gone back and forth on this, and often come out in favor of keeping it because it can be helpful to devs who use one script tag

[2015-08-18 21:53] #1796 closed

[2015-08-18 21:56] paulfalgout commented on #2051
This is resolved here: https://github.com/marionettejs/backbone.marionette/pull/2704

[2015-08-18 21:56] #2051 closed

[2015-08-18 21:58] jasonLaster commented on #2307
dupe of #2542

[2015-08-18 21:58] #2307 closed

[2015-08-18 22:00] #1834 closed

[2015-08-18 22:00] jasonLaster commented on #1834
Closing this as context in templates will be implementation specific. Handlebars for instance will make the model the context

[2015-08-18 22:02] jasonLaster commented on #2291
making it 3.x so that we can do this with the regionify work

[2015-08-18 22:10] jasonLaster opened #2707 "Put Metal work behind flags"

[2015-08-18 22:20] samccone commented on #2542
https://github.com/marionettejs/marionette.module

[2015-08-21 21:50] Alex-Shilman commented on #40
It would be great to set tagName: false similarly how we do template: false

[2015-08-22 08:13] bgaillard commented on #2164
@jmeas  :+1: :+1: :+1:  This feature is definitly a must have, we need it in almost all our Marionette projects.

Because it "seems to be very simple" to implement and does not break the APIs it could be great to have it in a 2.5 version of Marionette (is this version scheduled ?).

I know their is a discussion to rename `templateHelpers` into `templateContext` https://github.com/marionettejs/back

[2015-08-23 05:06] StartingDreams opened #2712 "ction to load"

[2015-08-23 05:06] #2712 closed

[2015-08-24 16:33] subpublic opened #2713 "Router navigate not working on webpack dev server."
Hello!

I'm running a backbone/marionette app on a webpack dev server (https://github.com/webpack/webpack-dev-server). My problem is that
[code]
doesn't change the url. Nothing happens. No error either.

When running the same code on a gulp express connect server, it works fine. Both on localhost:8080.
A friend of mine had the same problem. Really strange.

My settings are
[code]
Anybody else with

[2015-08-24 18:22] subpublic commented on #2713
Rolling back backbone 1.2.2 to 1.2.1 solved the problem, so it must have sneaked in after that!

[2015-08-24 21:24] paulfalgout commented on #2713
@jridgewell ?  Possible Backbone regression?

[2015-08-24 21:36] paulfalgout opened #2714 "Loss of code coverage for 2.4.3"
https://github.com/marionettejs/backbone.marionette/commit/9070bad2940564e7a975e4b0310d25768d986fea

and

https://github.com/marionettejs/backbone.marionette/commit/454d2cbdd37e4c3f27abd3f655b9cbf84f04ea27

have taken code coverage below 100%

[2015-08-24 21:37] paulfalgout opened #2715 "Code Coverage is broken on next"

[2015-08-24 22:00] jridgewell commented on #2713
RE: https://github.com/jashkenas/backbone/issues/3773

[2015-08-25 03:42] paulfalgout commented on #2713
Thanks.  @subpublic is your `router` instance a `Marionette.AppRouter`?

[2015-08-25 13:41] subpublic commented on #2713
Yep! It's an Marionette.AppRouter.
I see now that my Marionette version (2.4.2) is depending on backbone 1.2.1, so maybe that's the reason?

[2015-08-26 15:25] pascalpp opened #2717 "Marionette.Object.cid ?"
I would like to add a .cid to the Marionette.Object constructor, for parity with other BB-derived objects.

For instance, we use the cid as a .scope for jquery event listeners so we can remove them onDestroy.

Should I submit a PR for this change?

[2015-08-26 15:37] pascalpp commented on #2717
This change would basically just be:

[code]

Other objects which extend from Marionette.Object which would be affected by this change:

- Marionette.Region
- Marionette.Behavior
- Marionette.Application

Should those all use their own cid prefix, or would it be acceptable for them to all use 'object' as their cid prefix?

[2015-08-26 15:51] paulfalgout commented on #2717
This change is coming in the next version which is priority after the next patch release which could be any day now.

https://github.com/marionettejs/backbone.marionette/pull/2524

[2015-08-26 15:51] #2717 closed

[2015-08-26 15:55] pascalpp commented on #2717
:+1:

[2015-08-26 15:56] paulfalgout commented on #2717
:-) This is a good issue.  Going to help with making the inspector more useful.

[2015-08-27 13:57] jaapz opened #2718 "Marionette.View#ui does not work with hyphenated names"
The following ui hash will not work:

[code]

The hyphen makes it break, silently.

If this is intended behaviour, please put a note in the documentation that hyphenated strings do not work in the UI hash, or have the view constructor throw an Error when this happens, so it does at least not fail silently.

[2015-08-27 22:30] quentindemetz commented on #2559
I think I'm having the same issue again, with Marionette loading Backbone@1.2.1 and Wreqr loading Backbone@1.2.2, which means accessing Backbone.Wreqr within Marionette code does not call the version of Backbone which has Wreqr attached to it...

[2015-08-28 12:25] jeffijoe commented on #2718
It works if you access it through `this.ui['some-name']` - that's a JavaScript thing, not just Marionette-specific..

[2015-08-28 13:25] jeffijoe opened #2719 "Rerendering collectionviews on `reset` events throw."
I've managed to reproduce this in a Fiddle:

http://jsfiddle.net/jeffijoe/wzxxpp06/2/

The issue arises when a LayoutView is hosting a collectionview, and the layoutview also
rerenders when the collection is reset.

This does not apply to removing all models from the collection, it's just resetting.

Code from Fiddle:

[code]

[2015-08-28 18:09] ahumphreys87 commented on #2559
Which version of backbone are you using in your app?

We are waiting on BB 1.2.3 before releasing Mn 2.4.3 which will include the
dependency bump

On Thursday, 27 August 2015, Quentin de Metz <notifications@github.com>
wrote:

[2015-08-28 18:13] quentindemetz commented on #2559
I was using 1.2.2, rolling back to 1.2.1 fixed the issue. :+1:

[2015-08-28 19:07] jasonLaster commented on #2719
@ianmstew any ideas?

@jeffijoe what marionette version?

[2015-08-28 19:07] jasonLaster commented on #2718
yea, @jeffijoe maybe update the docs?

[2015-08-28 19:08] jasonLaster commented on #2713
I believe so. Closing, but re-open if that doesn't fix it

[2015-08-28 19:08] #2713 closed

[2015-08-28 19:09] jasonLaster commented on #2714
oy. I wonder how we lost code coverage?

[2015-08-28 19:10] jasonLaster commented on #2164
@bgaillard this could be a PR for the `next` branch. I think people would like something if it doesn't break APIs

[2015-08-28 20:29] c0debreaker commented on #1786
This is awesome @r34ch ! It worked for me. :)

/*jshint -W087 */

[2015-08-28 20:51] jeffijoe commented on #2718
@jasonLaster not sure exactly why, as this is a JavaScript thing?

[2015-08-28 20:52] jeffijoe commented on #2719
@jasonLaster The latest on npm.

[2015-08-28 20:57] stackptr commented on #2718
It's a JavaScript thing because the `-` character will trip up the interpreter reading the code, mistaking it as an operator instead of part of the property name. Hence the different syntax to access the UI element: `this.ui['element-with-hyphen']` versus `this.ui.elementWithoutHyphen`

[2015-08-28 22:56] jeffijoe commented on #2718
@stackptr Right, which is why I don't think this info belongs in Marionette docs.

[2015-08-28 22:59] stackptr commented on #2718
oh my bad I thought the question was "why is it a JavaScript thing"!

Agreed it's not necessarily Marionette related but it might be easy to fall into this trap and a friendly reminder wouldn't be hard to give

[2015-08-29 02:43] paulfalgout commented on #2718
I'm going to agree that this does not need to be documented.  It would need to be nearly everywhere.
This true for anything attached to an object.
[code]

[2015-08-29 02:50] paulfalgout commented on #2719
This is a dupe https://github.com/marionettejs/backbone.marionette/issues/1736

If a parent view and a child view is queued to listen to the same event, the parent view cannot do anything that will destroy the child, as the child view event will still be queued to run.

[2015-08-29 03:02] paulfalgout commented on #2719
Actually this is a less of a dupe, and more of a very related issue.

The problem here is that there isn't a way to work around the "error" that marionette throws when you try and render a destroyed view.

https://github.com/marionettejs/backbone.marionette/blob/v2.4.2/src/collection-view.js#L92

[code]
should probably change to something like:
[code]

[2015-08-29 04:09] paulfalgout commented on #2714
this line isn't tested:
https://github.com/marionettejs/backbone.marionette/commit/454d2cbdd37e4c3f27abd3f655b9cbf84f04ea27#diff-b8da5292cb07ec757ac64e78ff5af5c1R255

I looked through old PR merges on coveralls to determine which merges caused issues,
But looking at the coverage report of what is currently on patch, it looks like this line is the only non-tested line.

[2015-08-29 10:47] jeffijoe commented on #2719
@paulfalgout that's the only way? Would not throwing internally "fix" it?

[2015-08-29 19:56] jeffijoe commented on #2719
@paulfalgout I can verify that your suggestion works.

Check the updated fiddle, where I patch the _initalEvents of CollectionView: http://jsfiddle.net/jeffijoe/wzxxpp06/3/

[2015-08-31 03:51] paulfalgout commented on #2719
FWIW you can also "fix" this by `_.defer`'ing your layout's listener.  this way the `collectionview` would handle the `reset` first..  or.. perhaps better in this case you don't want your collectionview to listen to the reset.  So you could:
[code]

[2015-08-31 05:26] jeffijoe commented on #2719
Wouldn't it be better to *not* have to think about it?

[2015-08-31 18:12] jasonLaster commented on #2714
not so bad

[2015-09-01 14:40] sirianni commented on #2605
+1 for backporting this.  We just updated to the latest Marionette and Backbone and were hit by this issue.

[2015-09-01 21:10] #2531 closed

[2015-09-01 21:19] ianmstew opened #2722 "Merge 2.4.3 into `next`"
`2.4.3` was built against `patch` based on `master`.  This has to be merged into `next` for `v3`.  While at it, ensure `2.4.2` is completely in `next`.

[2015-09-01 21:22] ahumphreys87 opened #2723 "Create a smarter `render` method for `CollectionView`"
Currently CollectionView contains various features that require DOM manipulation (sorting, filtering). We have a performant "render" for sorting by enabling `reorderOnSort` but for `filter` the default is to re-render.

For 3.0.0 we should change the default behaviour of `render` to perform a smart render for filter and sorting.

https://github.com/marionettejs/backbone.marionette/issues/2703
http

[2015-09-01 21:23] ahumphreys87 commented on #2596
closing in favour of #2723

[2015-09-01 21:23] #2596 closed

[2015-09-01 21:23] ahumphreys87 commented on #2703
closing in favour of #2723

[2015-09-01 21:23] #2703 closed

[2015-09-01 21:29] #2715 closed

[2015-09-02 03:48] ianmstew commented on #2714
Sorry for the multiple commits--first commit had an unnecessary whitespace change and lint errors.  I'll just run a PR next time, since it's the appropriate sandbox for anything code (non-docs).

[2015-09-02 04:12] ianmstew commented on #2714
Okay, this needs a real PR.

[2015-09-02 04:24] paulfalgout commented on #2714
A note:  I had to blow away my node modules dir to get https://github.com/marionettejs/backbone.marionette/commit/9070bad2940564e7a975e4b0310d25768d986fea to fail on coverage.  But apparently `index` is never falsey on line 105

[2015-09-02 07:10] ahumphreys87 commented on #2268
Im gonna take this one!

[2015-09-03 04:56] paulfalgout commented on #2677
XRef: https://github.com/marionettejs/backbone.marionette/pull/2690#issuecomment-136871570

[2015-09-03 04:56] #2677 closed

[2015-09-03 05:00] paulfalgout commented on #2684
Closing for now.  If this is still an issue, please provide a fiddle or some additional example code of the problem.

[2015-09-03 05:00] #2684 closed

[2015-09-03 05:07] #2603 closed

[2015-09-04 04:48] ianmstew opened #2726 "When a CollectionView is filtered and a model is added with `at`, the resulting view order is incorrect"
It appears that when adding a model to a collection with `{at: index}`, the child view is added directly at the `at` index regardless of filtering.

For example, given the following collection:
[code]
and a view filtering of `foo > 3`, which renders the following set:
[code]

calling `collection.add({foo: 1.5}, {at: 1})` results in this rendered set:

[code]

as opposed to what one expects to be r

[2015-09-04 20:12] ianmstew commented on #2515
:+1: That's my ideal API.

[2015-09-04 20:57] ianmstew commented on #2660
I think this would be great to roll into #2723.

[2015-09-04 21:03] ianmstew commented on #2593
I really like this, the more I think about it.  Those region hashes are redundant for me 99% of the time (until I want to explicitly empty a region).

[2015-09-04 21:27] jmeas commented on #2593
I made a [BaseView](https://github.com/jmeas/marionette.base-view) that hides regions from me entirely, and it is truly awesome.

I'm convinced that Regions are unnecessary for the consumer of the lib

[2015-09-04 22:39] rogovdm commented on #2593
What about situations, when I pass a region variable into another submodule and render some stuff there? I use this pattern a lot. And it won't be enough to just pass a selector. An $el should be provided at least.

[2015-09-04 23:02] jmeas commented on #2593
@rogovdm I'm confident that your system can be reworked to not use regions.

The most similar approach to what you're doing now would involve passing a jQuery object or node reference, but I wouldn't recommend doing that. Instead, you can either:

1. tell the view what to render (and the view itself has a reference to each constructor that it can render)
2. pass a "child view" instance to the "par

[2015-09-06 04:51] paulfalgout opened #2731 "Calling `CollectionView.destroyChildren` does not trigger `destroy:collection`"
https://github.com/marionettejs/backbone.marionette/blob/v2.4.2/src/collection-view.js#L606

These are triggered only in `destroy` but this public function should likely trigger them itself.

[2015-09-06 07:02] paulfalgout commented on #2581
This is mostly down to filter related issues in collectionView, but I think we should also add something for `if(this.isDestroyed)` in `Object.destroy` and the RegionManager `_store` adding the same named region.

Really it'd be great to get branch coverage up to 100%.  Often the branches can indicate unused code.

Some of that is https://github.com/marionettejs/backbone.marionette/pull/2733 and h

[2015-09-06 16:57] ianmstew commented on #2714
Fixed by #2724

[2015-09-06 16:57] #2714 closed

[2015-09-06 16:57] ianmstew commented on #2726
Fixed by #2724

[2015-09-06 16:57] #2726 closed

[2015-09-06 22:47] grabcode opened #2734 "[Enhancement] Declarative way to instantiate views"
Ever wanted a shortcut to instantiate your views directly via writing a sort of custom HTML tag into your template ? Well I gave it a shot and I'd love to get your thought. I can pretty easily create a PR though I believe it would deserve a bit of review (and test coverage).

[Marionette.Viewtag](https://github.com/grabcode/marionette.viewtag)

Please throw whatever comes in your mind. Would you t

[2015-09-07 02:15] paulfalgout commented on #2629
I actually really like this proposal.  Sorry for the delay.  I think this will be great as part of a `v3.0.0` release which'll be the next focus.  Hopefully some of the documentation will be cleaned up during that time, so this may prove to be good timing.

[2015-09-07 02:36] paulfalgout commented on #2587
Hmm  I find `template:false` to be most useful for single element items as @ianmstew mentioned.   If a view doesn't have a template, it doesn't mean it doesn't have an `el` that needs rendering.  This issue seems specific to showing in a region and we may need to figure out how to handle it their, or in the least suggest a simple cookbook solution.

[2015-09-07 02:39] paulfalgout commented on #1976
@ahumphreys87 this is solved by https://github.com/marionettejs/backbone.marionette/pull/2625 ?

[2015-09-07 05:25] ahumphreys87 commented on #1976
It is indeed :dancer:

On Monday, 7 September 2015, Paul Falgout <notifications@github.com> wrote:

[2015-09-07 05:48] paulfalgout opened #2737 "View LifeCycle Monitor"
We should replace `onDOMRefresh` with a full view lifecycle monitor.

And it should have it's own event handling such that it can `listenTo` views given to it.

It should handle the render, attach (maybe detach) (along with an onDomRefresh)
(also assuming region show events are no longer triggered on the view)

It would replace view internal listeners:
https://github.com/marionettejs/backbone.mari

[2015-09-07 05:59] #1976 closed

[2015-09-07 06:07] paulfalgout commented on #2737
Very related to https://github.com/marionettejs/backbone.marionette/issues/2560

[2015-09-07 07:15] JSteunou commented on #2734
It looks cool for those who need this.

Now, just my 2 cents, I'm a guy who dislike declarative à là angular stuff inside HTML. I Better like readable, tweakable, maintainable code inside view.

[2015-09-07 08:15] capricube commented on #2734
:+1:  really cool. this might be useful.

[2015-09-07 08:24] spenoir commented on #2587
Yes I see your point Paul. I have a workaround where I override attachHtml
when using a ChildView but it could probably be used in a similar way for
any View, I've got it in a gist here:
https://gist.github.com/spenoir/0edca0ec8bb94c72aefc

On Mon, Sep 7, 2015 at 3:36 AM, Paul Falgout <notifications@github.com>
wrote:

[2015-09-07 12:01] JSteunou commented on #2737
Great idea! Abstraction abstraction abstraction!

[2015-09-07 17:34] jasonLaster commented on #2737
I think this could be a nice abstraction too. Mind sharing s small gist of what the implementation would look like.

[2015-09-07 22:52] grabcode commented on #2734
@capricube @JSteunou, thanks for your comments.

@JSteunou I must say in the defence of a declarative approach that it is supposedly more readable. Of course, bringing this alternative way would leave more flexibility to the framework's users, but at the end nothing prevents you to adopt a guideline in your project that would exclusively use one way or another.

I merely intend to address a patter

[2015-09-08 03:20] trezy commented on #1976
Yup, sorry for not responding. Definitely closed and I'm so happy it is. :-D

[2015-09-08 12:09] laszlogmenyhart opened #2739 "LayoutView - ItemViews - reset calls empty"
Hi,

We found that Marionett.Region.reset function calls the empty function without parameter
(see: https://github.com/marionettejs/backbone.marionette/blob/master/lib/core/backbone.marionette.js line 862) in version 2.4.2. So the options is undefined in line 803.

Please check whether our bugfix is good or not!
Our solution is this from line 800:

 empty: function(options) {
      var view = this

[2015-09-10 06:41] paulfalgout commented on #2739
I believe this is fixed in the `2.4.3` release which will be coming out in the next day or so:
https://github.com/ianmstew/backbone.marionette/commit/0aec7d4f9579486f367e1e93a1c999bb8474e94a

[2015-09-10 09:33] laszlogmenyhart commented on #2739
OK Thanks!
I will test and come back if this is not enough for us.

[2015-09-10 14:23] paulfalgout commented on #2739
`2.4.3` is up.

[2015-09-10 15:38] jeffijoe commented on #2734
@grabcode this looks pretty sweet, actually been wanting something like this for awhile.

Regarding the whole "declarative or not" things, here's my 2 cents; when it comes to reusable components, like `<address-selector>`, `<markdown-editor>`, declarative just feels right for me. But stuff like `ContentView`, `SidebarView`, `ToolbarView` make sense as plain subviews, because you're probably only u

[2015-09-11 01:41] grabcode commented on #2734
@jeffijoe I'm confident that should work with your current projects involving Jade for templating. Your Jade files eventually get converted into html by your asset pipelines.

To summarise, I think your templates go from JADE to HTML to JAVASCRIPT. I might be wrong in the unlikely case where your _.template has been enhanced to interpret raw Jade file (that would be weird!).

##### Guideline
And I

[2015-09-11 01:51] jmcgdz commented on #2734
I've recently been using polymer web components with marionette, it actually works great together.

You can pass data in via attributes, an 'id' or a full model (the JSON) or you can interact with the element directly, like using the ui hash.

[2015-09-11 02:01] grabcode commented on #2734
@jmcgdz that's a superbe idea to melt this 2 together. I came across some blog posts explaining how to marry this 2 together.

Now there's some cons. Polymer turned 1 (v1, not year 1) just few weeks ago. And Polymer has a cost in term of weight, and learning curve. Of course the benefits in term of functionalities might outweigh the steep learning curve, but in my company it would be yet another r

[2015-09-11 02:31] ianmstew opened #2741 "Plugin ecosystem"
A number of features are coming that could be quite useful to many people, and yet might not fit the definition of "core".  Some examples:
- Filtered/sorted CollectionViews (already in core, but could become a plugin instead)
- incremental-dom support
- Component notation in templates (#2734)
- UI-state-aware views

What would an "officially supported" plugin ecosystem look like; e.g., could plugi

[2015-09-11 05:10] jeffijoe commented on #2734
@grabcode my Jade is being preprocessed and all I am left with are compiled JS functions when the page loads.

[2015-09-11 17:04] ianmstew commented on #2734
@m

[2015-09-11 17:04] ianmstew commented on #2734
@marionettejs/marionette-core Thoughts on promoting this to MarionetteLabs?

[2015-09-11 17:14] samccone commented on #2734
reminds me of https://github.com/samccone/marionette-behaviors#autoregion :goat:

[2015-09-11 17:14] samccone commented on #2734
:+1: on moving into labs

[2015-09-12 16:15] ianmstew commented on #2737
This seems like a good idea, but I can only see this making sense for firing "contingent" events--events based on other events--or tracking state of a view with flags in one place (`isRendered`).  I don't see such a listener as capable of _firing_ events such as `render` on views, because these are bound to imperative code within views.

[2015-09-12 16:33] ianmstew commented on #2734
@grabcode We're interested is moving this to official community-supported/experimental status as a MarionetteLabs repo.  Are you interested in transferring ownership to MarionetteLabs?  You will be repo admin.

[2015-09-12 16:46] ianmstew commented on #1309
See https://github.com/marionettejs/backbone.marionette/pull/2730#issuecomment-139792426.  I argue that `render` should 1:1 imply `render:children` and therefore eliminate the necessity for it altogether.  Same with `destroy` and `destroy:children`.  I don't see the value add of discriminating between rendering the entire view and rendering its children once without a CompositeView (#2268).

[2015-09-12 16:51] ianmstew commented on #2695
Without a CompositeView at all in 3.0 (#2268), I don't see a need to separate `render()` and `renderChildren()` or maintain separate events (#1309).

[2015-09-12 16:53] ianmstew commented on #2731
I think I would rather make `_destroyChildren()` private, remove the `children` events, and encourage developers to rely on top level `render` and `destroy` events as implying these.

[2015-09-12 17:25] paulfalgout commented on #2737
Agreed.

[2015-09-12 17:31] paulfalgout commented on #1309
I think I am in agreement..  Particularly about making the destroy
private..  But we would need to absolutely commit to axing composite
view..  What does composite view do that can't be done with collection view
and replace El?
On Sep 12, 2015 11:47 AM, "Ian Stewart" <notifications@github.com> wrote:

[2015-09-12 17:38] ianmstew commented on #1309
The _only_ thing that I'm aware a CompositeView does that a nested CollectionView has difficulty doing is possibly re-rendering the entire CompositeView on `reset` (#2719).

[2015-09-12 21:22] ianmstew commented on #2629
@bi

[2015-09-12 21:25] ianmstew commented on #2629
@billyjanitsch We may have missed your few weeks of spare time, but if you're still interested, exactly what you suggested would be outstanding.

Forking, branching from `next`, and submitting a large PR will be fine.  The only thing you'll want to do is squash down to a single commit and then rebase before PRing and integrate any doc updates that may arise during your development.

[2015-09-12 21:31] ianmstew commented on #2164
We do not currently have a `2.5` scheduled so that we avoid pushing off `3.0` further, but if there's enough support for a `2.5` we can cherry-pick off of `next`.

[2015-09-13 00:05] blikblum opened #2743 "Reconsider the addition of region management code to Marionette.View"
In next  branch (future 3.0), LayoutView was removed and the region management code was added to Marionette.View.
I understand the reasoning behind this move (simplify the API) but there's a potential performance hit considering that majority of Marionette.View (formerly ItemView) instances in one typical app will not use the region code (think of list items, table rows). These are views that gene

[2015-09-13 01:07] paulfalgout commented on #2743
Well I think in v3 the simplification will go further than just making everything a layout.  Essentially I do not think there will be any perf decrease than if you were to add `_.isEmpty({})` to your `ItemView`'s initialize.  And region management will only occur when needed.

[2015-09-13 02:14] #2055 closed

[2015-09-13 03:49] ianmstew commented on #2743
What about lazily instantiating the RegionManager?

[2015-09-13 09:18] grabcode commented on #2734
@ianmstew yes I am. Thanks. Could you send the instructions?

[2015-09-13 10:52] blikblum commented on #2743
This is the region management code called when a View is instantiate:
[code]

[2015-09-14 02:25] ianmstew commented on #2743
@blikblum Great point, and I think we are actually all in agreement.  @paulfalgout is working on a simplification to Marionette.View that will allow it to support regions _without_ the burden of RegionManager.  An early proposal is here: https://github.com/paulfalgout/backbone.marionette/pull/3/files#diff-54628cdbb43b8b10d359b3bfa2a80387R6.

[2015-09-14 18:12] blikblum commented on #2743
Fine. I'll keep looking.

[2015-09-14 21:07] ianmstew commented on #2741
Relevant: https://github.com/babel/babel/blob/development/doc/design/monorepo.md

[2015-09-14 22:40] rogovdm commented on #2741
Sounds good. Pluggable core — always sounds good.

[2015-09-15 02:37] xueyuchen opened #2745 "Maximum call stack size exceeded caused by ui trigger events"
[code]
[code]
[code]
when addAlbum been triggered, the error "Uncaught RangeError: Maximum call stack size exceeded" should be happen?
this is an issue?

[2015-09-15 04:27] paulfalgout commented on #2745
more example code or a jsfiddle would help a lot here, but..  if clicking on the #add-album button then triggers a click event on the addAlbumBtn which then propogates back to the #add-album button then you're going to have an event loop which will cause a call stack.  I don't think this is a Mn issue, but please if there's more details, we'll be willing to look into it further.  Additionally plea

[2015-09-15 04:27] #2745 closed

[2015-09-15 15:19] laszlogmenyhart commented on #2739
Hi!

It seems that we have the issue yet.

Our solution was not good, because we added the preventDestroy property to the view, but now we can see that it can be only an element of the options (second args) of show function.

Now we modified our code but we found that it is not used at calling other functions or it is not handled correctly or we still have another issue.

Would you be so kind to p

[2015-09-16 09:50] spenoir commented on #2587
I've updated that gist btw

[2015-09-16 19:32] ianmstew opened #2749 "incremental-dom support"
It's time to bring smart DOM updates handled by a diffing algorithm into Marionette's templating layer.  [incremental-dom](https://github.com/google/incremental-dom) is showing a powerful affinity with Backbone/Marionette's templating philosophies because one of its core objectives is [mapping from string templates](http://google.github.io/incremental-dom/#why-incremental-dom).  There is absolutel

[2015-09-16 19:41] MeoMix commented on #2749
:clap:

I'm building a new website from scratch and evaluating all the tools out there currently. My heart is with Marionette and I have little-to-no desire to learn Angular/React/Ember for anything more than educational purposes. However, the most glaring pain point for me is how behind the times Marionette is on DOM rendering / data-binding.

I'm not sure what I can contribute to the discussion,

[2015-09-16 20:39] ahumphreys87 commented on #2749
@MeoMix myself and @ianmstew want to look at a handlebars => idom compiler, if you are interested - more hands would be appreciated.Its very early in the process but we will be working here: https://github.com/ianmstew/handlebars-idom

[2015-09-16 20:49] MeoMix commented on #2749
@ahumphreys87 I googled around on this a bit and found the issue on Handlebars: https://github.com/wycats/handlebars.js/issues/1080 which was closed as out-of-scope. I then found the issue on htmlbars, https://github.com/tildeio/htmlbars/issues/405, which was basically closed as "We already do something close enough to this -- why bother?"

It left me wondering where handlebars-idom fell in all of

[2015-09-17 21:03] nucleartide commented on #1976
@ajambrovic I'm facing your exact problem right now with `<thead>` and `<tbody>`. I want `<thead>` to contain an ItemView, and `<tbody>` to contain a CollectionView, but I can't work around CollectionView's wrapping div, which will mess up the table rendering. The only solution I can imagine is to do some manual rendering and destroying:

[code]

I see that #2625 provides a `replaceElement` option

[2015-09-18 06:51] JSteunou commented on #1976
That's why `CompositeView` is awesome! You can create a view with table > tbody and specify tbody as `childrenContainer` ;)

[2015-09-19 19:03] ianmstew opened #2751 "Merge View and LayoutView docs for v3"
`next` still has LayoutView documentation, which appears to have content not yet merged into View docs.

[2015-09-19 20:24] #2170 closed

[2015-09-19 20:33] #1872 closed

[2015-09-19 20:51] ianmstew opened #2752 "Remove `[before]render:template` events"
They only exist in CompositeView, but they contribute to noise more than practical use.  They can be replaced by:
- `before:render:template` -> `before:render`
- `render:template` -> `render` (`before:render:children` is closer in trigger time, but `render` is more useful)

[2015-09-19 20:54] #2752 closed

[2015-09-19 21:07] #2166 closed

[2015-09-19 21:12] paulfalgout commented on #2751
dupe https://github.com/marionettejs/backbone.marionette/issues/2477

[2015-09-19 21:12] #2751 closed

[2015-09-19 21:55] ianmstew commented on #1309
Fixed by #2730

[2015-09-19 21:55] #1309 closed

[2015-09-19 22:04] #2695 closed

[2015-09-19 22:07] #2731 closed

[2015-09-19 22:12] ianmstew opened #2755 "Make CollectionView `destroyChildren()` private"
I think I would rather make _destroyChildren() private, remove the children events, and encourage developers to rely on top level destroy events as implying these.  The only value it brings is for CompositeView.  This could be pushed down to CompositeView or else wait until we remove CompositeView completely.

[2015-09-19 22:23] ahumphreys87 commented on #2722
fixed with #2750

[2015-09-19 22:23] #2722 closed

[2015-09-19 23:59] ianmstew opened #2756 "isDestroyed()/isRendered should coerce boolean"
https://github.com/marionettejs/backbone.marionette/commit/e8dd1e5dda1590a056204c912d593be09cffc8c5#commitcomment-13327142

[2015-09-20 02:20] #2707 closed

[2015-09-20 02:24] paulfalgout commented on #2755
I agree.  And what's particularly interesting is that this function is documented on the [`CollectionView`](https://github.com/marionettejs/backbone.marionette/blob/master/docs/marionette.collectionview.md#collectionviews-destroychildren)  But I think I'd rather privatize this when `CompositeView` is removed.
Or we could privatize it for `CollectionView` and expose it for `CompositeView`?

[2015-09-20 02:27] paulfalgout commented on #2739
I think a gist or a fiddle might be helpful here.  But what is the use-case for the `preventDestroy`?   In general it is much better to just destroy and rebuild views when you need them.  `preventDestroy` is very much an edge-case feature.

[2015-09-20 03:01] ianmstew commented on #2755
Cool, yeah maybe it doesn't make sense to diverge the two APIs.  I just realized we'll need a major version bump to remove CompositeView anyway, so I don't think it will be a particular shock to privatize then.  We _could_ add a deprecate notice to `destroyChildren` on CollectionView (`! instanceof CompositeView`).

[2015-09-21 14:09] eth0lo commented on #2002
I have been working on this [idea](https://github.com/eth0lo/mech/tree/express-middleware)<sup>1</sup> for a month or so already.

I went with the suggestion of @capricube of using domino. so far so good, there's a couple of things that could be improved in order to avoid a lot of overwriting, by a lot so far I just overwrote like three methods, but I expect that this will need to happen for each

[2015-09-21 14:20] JSteunou commented on #2002
Hey nice to see this question still alive. How did you manage this @eth0lo?

[2015-09-21 16:27] jasonLaster opened #2760 "Add DEV_MODE Deprecation support"
Marionette  `deprecate`  should support dev mode

[code]

[code]

NOTE: Backbone.Metal has great deprecation support so this is just a marionette wrapper with a DEV_MODE flag

[2015-09-21 16:34] paulfalgout commented on #2760
https://github.com/marionettejs/backbone.marionette/blob/next/src/utils/deprecate.js

[2015-09-21 17:39] eth0lo commented on #2002
In order to stabilize the frontend after the server have done its work it need two parts:

1. Data synchronization
2. View synchronization

### Data synchronization

Probably the most easy part, imagine that you are dealing with backbone models and collections and everything is nicely wrapped inside one of those; then the process goes around like this:

1. Keep track of the responses of your model

[2015-09-21 17:45] JSteunou commented on #2002
So you have regions bind to DOM without re-rendering those, but what if you have views in those region with some ui bindings, jquery plugin, etc. Does this work?

[2015-09-21 18:02] ianmstew commented on #2734
Sure thing, sorry for the delay.  Your repo -> Settings -> Transfer ownership -> New owner: MarionetteLabs -> Team: _viewtag_.  I have already invited you to the viewtag team.  Once your repo is in, I will supply admin access to viewtag to the viewtag team.  Welcome to MarionetteLabs!

Just a heads up, I just transferred a potentially related project over to MarionetteLabs as well, [handlebars-ido

[2015-09-21 18:06] eth0lo commented on #2002
Backbone have the options to provide an ``el`` while creating a new Instance; when doing so it will call ``delegateEvents`` and ``unDelegateEvents`` for you, and since Marionette.View extends Backbone.View they are gonna be called, the difference is that Marionette, re-implements ``delegateEvents`` and ``unDelegateEvents`` to be able to handle UI elements, so my first hunch would be yes.

Regardin

[2015-09-21 18:10] JSteunou commented on #2002
Worth the shot. Wish I had some time to work on this :D

[2015-09-21 18:17] eth0lo commented on #2002
@samccone would you like to help me with some marionette's internal that I'm so use to?

[2015-09-21 19:03] capricube commented on #2002
Since my last post in February we did lot of progress with our isomorphic application. Let me share how and what we did since then and how we solved a few of the problems mentioned above.

### Server side
We created a isomorphic middleware for express.js to pre-render parts of our page. For our sitemaps we pre-render the whole page but for regular users we only pre-render the parts of the page tha

[2015-09-21 21:40] eth0lo commented on #2002
@capricube the data sync is exactly how I approached that problem.

Other option that I considered, but discarded,  was creating the data as in memory file that could be requested by the client, but then became a little harder to mix that with browserify, which is the bundler that I'm using

[2015-09-22 21:30] jasonLaster opened #2761 "Change marionette.module shim function to setup"
We will use the `marionette.module` project in 3.0 and when there is an alternative we wll deprecate them.

We need two changes:
1. update the project readme to be more like babysitter
2. change `shim` function to `setup`

[2015-09-22 23:11] MeoMix opened #2762 "Request: bindUIElementsSubset"
Hey,

I'm not keen on using bindUIElements frequently. I think it's usually a code smell or, at the very least, a necessary evil when integrating with third-party libraries.

That said, I do use it sometimes... but I've **never** wanted to re-bind the entire UI hash. I just want to update a known subset of elements which were dynamically inserted. Marionette doesn't have any support for that out o

[2015-09-22 23:18] paulfalgout commented on #2762
I wonder if this could be accomplished via just passing a hash to `bindUIElements`  This is also interesting as I assume you'd be able to dynamically add to the ui hash.

[2015-09-23 08:08] mark-lester opened #2764 "Handlebars custom helpers not working inside iterators"
I believe my helper doesn’t work inside an iterator if I apply within the view declaration,i.e. with
templateHelpers:.., but does if I apply it directly before the view declaration is made using Handlebars.registerHelper. Which looks like an asynchronous issue, the body of the iterator appears to have already made it's mind up about what helpers its getting before my custom ones have been applied.

[2015-09-23 15:43] paulfalgout commented on #2764
I'm not sure that I follow.  Can you post a jsfiddle or some example code?  Also, if you haven't try asking the community [here](https://gitter.im/marionettejs/backbone.marionette).  There may very well be someone who has dealt with this there who could answer quickly.

[2015-09-23 16:08] mark-lester commented on #2764
Yes I'll try and get a simple fiddle working. I've been on the chat thread and they've been very helpful indeed. For some reason my helper wasnt available inside an {{#each items}} block, but was outside it.
When I register the helper prior to making my ViewItem then it works. But I dont really believe my asynchronous argument.

[2015-09-23 17:35] jasonLaster commented on #2762
yea, worth checking out. @MeoMix It's time we see you're name in the commit log :)

[2015-09-23 17:50] MeoMix commented on #2762
Yeah yeah :p I'll take a look. I'm up in SF travelling for the next 4 days or so, but I'll take a peek.

[2015-09-23 22:49] jasonLaster opened #2767 "Improve gulp runner"
Here's a checklist of things to look into for the new gulp runner

- [ ] jscs is not being run
- [ ] takes longer than grunt to run.
- [ ] locally the output is a mess..
- [ ] I think it’s linting the instrumented files or something.

[2015-09-24 00:50] paulfalgout commented on #2767
I actually think eslint should be able to replace jscs.  It might take a little bit of tweaking to get it to line up.

[2015-09-24 07:57] gorkalaucirica opened #2768 "Cannot add behavior to a view using ES6 new specification"
We are using ES6 and Marionette in a project and until now we were doing to the following to reuse a behavior:

[code]

With the new specification is not allowed to use `this` before calling `super()`. `super()` launches the view constructor where behaviors are added with the following lines in `Marionette.Behaviors` class:

[code]

There is no possibility (as far as I know) to pass the behaviors

[2015-09-24 13:57] jasonLaster commented on #2767
@paulfalgout perhaps - JSCS was running last night when I was working on the ES6 modules ticket.

[2015-09-24 14:27] paulfalgout commented on #2767
I was seeing linting in the output oh those crazy files.  I do wonder if most of the issues with the gulp stuff have to do with preexisting temp stuff left over by grunt.  I haven't tried from a clean dir.
Like locally try
[code]

[2015-09-24 14:58] jasonLaster commented on #2767
yea, that's interesting.

[2015-09-25 07:05] RobertCZ opened #2770 "Rename 'rootEl' param on application to 'region'"
RootEl indicates, well, element. Why not call it just 'region'? Name 'rootEl' doesnt work very well when you want to pass previously created region. With 'region' name, it can still be initialized as el, selector or region, but will give us a much nicer pattern for child apps - basically every app could have a region to use passed from outside (eg parent app or main):

    // main with default reg

[2015-09-25 11:00] blikblum commented on #2770
Why not rootRegion?

[2015-09-25 11:36] RobertCZ commented on #2770
Backbone view receives model, option is called model and is available in view as this.model. Marionette region has option el with the same conventions. This application.region looks quite similar.

[2015-09-25 14:03] jasonLaster commented on #2770
Thanks @RobertCZ - feel free to comment directly on the PR #2763

[2015-09-25 14:33] RobertCZ commented on #2770
I did but I wasn't sure it was the right place. Shall I close this one and we continue in PR?

[2015-09-25 15:27] kworth opened #2771 "Pattern of setting this.model and this.collection in view.initialize breaks with recent Backbone"
Certain patterns with modelEvents are now broken with the more recent versions of Backbone.

Old Backbone.View
[code]
Now that delegateEvents was removed it breaks the patterns that rely on collections or models being set in initialize.

For instance:
[code]
The above code no longer works unless delegateEvents is added to initialize :-1:
[code]

[2015-09-25 15:27] kworth commented on #2771
Pull request coming...

[2015-09-25 15:37] paulfalgout commented on #2771
Thanks for looking into this.

This is a dupe: https://github.com/marionettejs/backbone.marionette/issues/2605

This is also a breaking fix that is coming in the `next` version of Marionette as mentioned on that issue.  However please check to see if it aligns with your needs.

[2015-09-25 15:37] #2771 closed

[2015-09-25 15:45] paulfalgout commented on #2768
This might help with this issue: https://github.com/marionettejs/backbone.marionette/issues/2605

Also @benmccormick has done some excellent research in this area. http://benmccormick.org/2015/07/06/backbone-and-es6-classes-revisited/  I do think this problem starts at backbone to some extent, but if we can figure out solutions to fix some Marionette specific scenarios, it would likely be worth ch

[2015-09-26 16:09] benmccormick commented on #2768
@gorkalaucirica you can define the behaviors has as a method for now and manage it that way.

[2015-09-28 08:16] eth0lo commented on #2425
I see the benefit with this, nevertheless why introduce that when [Function.name](https://developer.mozilla.org/es/docs/Web/JavaScript/Reference/Global_Objects/Function/name) serves a similar propose, and is considered in the standard

[2015-09-29 08:28] Tranfu commented on #2587
this.el.appendChild(view.el);
IE8 Error: Unexpected call to method or property
how to fix it?!

[2015-09-29 10:34] Tranfu opened #2773 "IE8 Error: Unexpected call to method or property"
Marionette v2.4.3 line 1260
...
[code]
  ...
IE8 Error: Unexpected call to method or property

[2015-09-30 19:21] fraserharris commented on #2235
This is quite a "gotcha".  It makes no sense (from an external API consumer perspective) that childEvents are the odd ducks that don't trigger in behaviors...

[2015-09-30 20:49] howardroark commented on #2357
I have been working on a reusable local storage shopping cart ... https://github.com/forestcart/forestcart

The idea is that you just drop the code into your site and supply the appropriate markup and inline templates.  With just markup and css you get a custom shopping cart.

The "cart items" use a CollectionView + (Item)View combo.  In this case you supply the template for each "item" in your ca

[2015-09-30 23:20] alekop commented on #1061
This is related to #611, which is only partially resolved. The `CollectionView` still doesn't listen to `change` events, and I haven't found an explanation as to why that is. My extremely naive solution is to attach a `change` handler, which re-renders the model's view. Here's a Gist of it: https://gist.github.com/alekop/a5eafa48c32b7a23c5ff

I suspect there are special cases that this solution do

[2015-10-01 00:49] fraserharris opened #2776 "LayoutView behavior can't pick up child events in any way?"
I'm trying out behaviors for the first time to encapsulate some child view event tracking code. This never fires:
[code]
I threw together a demo of what does & does not fire:
http://codepen.io/anon/pen/epgjRx?editors=001

Is there a work around?

(Note: similar to this issue, but for LayoutView vs CompositeView: https://github.com/marionettejs/backbone.marionette/issues/2235)

[2015-10-01 03:10] fraserharris commented on #2776
Doesn't appear i'm alone, @lococo--0 reported this too: https://github.com/marionettejs/backbone.marionette/issues/2683#issuecomment-128610406

[2015-10-01 06:15] ahumphreys87 commented on #1061
@alekop each childView listens for the change in a model (they are ItemView) so doing so in the CollectionView will likely cause issues and certainly a performance overhead of a double render.

Is there a reason you can't let the ItemViews handle the rendering of the models?

[2015-10-01 09:13] YazanRawashdeh commented on #906
Indeed it's Marionette that does this behavior , and it's doing it to make sure the element is shown.
I just did this :
this.getRegion("myRegion").$el.removeAttr("style"); :+1:

[2015-10-01 09:21] lococo--0 commented on #2776
It seems that the behavior designed for ItemView, not for the LayoutView.

I finally write a BasicLayoutView to resolve this problem.

But I really think the behavior should support more feature like 'onChildviewDoStuff' or 'regions'. It's very useful. @ahumphreys87

[2015-10-01 16:23] alekop commented on #1061
@ahumphreys87 I thought so too, but it seems neither Backbone, nor Marionette views respond to their models' change events. I can understand that it may not be desirable to listen to the change event for every view (for performance/memory reasons), but it would be nice if there was at least an option to do so, e.g. by passing a flag, like we do for sort.

[2015-10-01 17:56] ahumphreys87 commented on #1061
Ah of course, sorry it isn't default. But you can add modelEvents to your Itemview class and render on change. It's much better and cleaner than doing in the CollectionView

[2015-10-01 18:31] elgubenis opened #2778 "Marionette.AppRouter as Backbone.Router"
The following example works as expected:
[code]

But this example does not work as expected:
[code]

the route does not get triggered, also using appRoutes + Controller/Object does not work, am i doing something wrong?

[2015-10-01 18:32] elgubenis commented on #2778
I'm using Backbone 1.2.3 (latest) with Marionette 2.4.3 (latest)

[2015-10-01 22:47] fraserharris commented on #2776
@lococo--0 can you share your implementation?

[2015-10-01 23:52] paulfalgout commented on #2778
I'm not certain why this wouldn't work.  It seems to be tested here: https://github.com/marionettejs/backbone.marionette/blob/master/test/unit/app-router.spec.js#L122

At first glance everything seems ok to me.  I'll have to recreate the code somewhere to try this further.

Have you posted this on gitter?  http://gitter.im/marionettejs/backbone.marionette

But it does seem like something else _mig

[2015-10-01 23:57] paulfalgout commented on #2773
This line in general does not cause issues in IE8 unless under edge case circumstances.  Do you know what you're attempting to append to when it fails?

For instance IE8 cannot append to a `<style>` tag.

[2015-10-02 02:30] samccone commented on #2773
@Tranfu what is your el in this case?

--

Going to say this is not a Marionette issue rather an ie8 debug request. I am going to close this issue for now but we can help you resolve this :smile:

[2015-10-02 13:33] jasonLaster commented on #2776
Thanks for the demo. Will investigate.

Also, if you can it'd be nice to add a unit test for this.

[2015-10-02 13:41] elgubenis commented on #2778
hey, my problem was browserify, i had backbone in one bundle and marionette in another bundle (so it wouldnt see the global backbone from the other bundle and require a different backbone instance on its own, though backbone.history would not trigger the backbone.router which is applied to in the approuter

[2015-10-02 13:41] #2778 closed

[2015-10-02 15:36] rafde commented on #2764
@mark-lester This doesn't sound like a marionette issue, this sounds more like an issue in which you order you handlebars and marionette. I use both all the time at work and haven't run into that issue. Using Marionette 2.4.1 and Handlebars 3.0.3

[2015-10-02 15:37] rafde commented on #2761
@jasonLaster , wouldn't the alternative be something like `RequireJS`?

[2015-10-02 17:24] mark-lester commented on #2764
I accept that my claims are highly dubious. I'm not going to get back to the templating end for another week or so. I've closed it for now and if I end up in the same place again I will demo in jsfiddle before reopening.

[2015-10-02 17:24] #2764 closed

[2015-10-05 10:56] jedrichards opened #2779 "Jasmine and jsdom error: An "el" X must exist in DOM"
I'm trying to write some Marionette view unit tests using Jasmine and jsdom. I'm running into an error whereby LayoutViews don't seem to be able to find their regions. Here's my jsdom setup code

[code]

Which throws,

[code]

This confuses me because surely `.TestHarness-inner` must exist in the DOM since I've attached the LayoutView to #test-harness?

Any help appreciated!

[2015-10-05 12:03] Tvrqvoise commented on #2749
Is this a Marionette problem?  AFAIK, all we need to do is enable async render, then we can solve this problem at the template level.

[2015-10-05 17:28] thejameskyle commented on #2749
The problem here is that you're never going to get the full benefit of templating like this unless initialization/rendering/cleanup becomes completely managed by the framework which is very against how Marionette is designed today. In fact if you tried to make Marionette do that you'd have virtually no reason to use Marionette, as everything from CollectionViews to LayoutViews and Regions to `ui`

[2015-10-05 18:01] MeoMix commented on #2749
@thejameskyle Could you elaborate on why?

[2015-10-05 18:18] thejameskyle commented on #2749
So let's imagine a typical Marionette tree.

[code]

Here it is in idom template functions (using jsx to simplify things):

[code]

If you compare the entire API from Marionette, it's all built into the template layer in a iDom/React-like api. If you try to force the Marionette conventions over it, you are just making it more verbose and less declarative. Also, the rendering needs to be managed or

[2015-10-05 18:22] MeoMix commented on #2779
I don't see where you render this view at all...? When would that template be placed into jsdom?

[2015-10-05 18:29] jedrichards commented on #2779
Since I'm setting `el` to `'#test-harness' shouldn't auto attach to that element when I create the instance with `new TestHarness()`? In any case, the error I'm getting above is happening without calling `render()` ...

[2015-10-05 18:38] MeoMix commented on #2779
Instantiating a view != rendering a view. Template is only injected when rendered regardless of whether it's given a target element.

Anyway, I put your code into a codepen (which I'd suggest doing first!) and it became pretty apparent. You put a '#' marker in your HTML template id which doesn't make any sense.

It works fine when you remove that: http://codepen.io/anon/pen/yYbeBQ

[2015-10-05 20:52] jedrichards commented on #2779
Hey, thanks for the input. Good catch on the errant `#` in the HTML. Also you're right about "instantiating a view != rendering a view". That wasn't the issue though ... your Codepen helped me solve it. Something to do with the template I think. It didn't like the plain string I was using, your `_.template()` helped me find it. Sorry, my Backbone is pretty rusty ... was convinced this was some sor

[2015-10-05 20:52] #2779 closed

[2015-10-06 12:51] adamborowski opened #2780 "Missing documentation for removeChildView"
the 'CollectionView::removeChildView' seems to be public but there is no reference to it in the docs.

[2015-10-07 07:22] alekop opened #2781 "Concurrent render?"
I would like to render a view with an initial template, and then re-render it (with a different template) after its data is fetched.

[code]

Looks simple enough, but if the `sync` event fired during the initial render phase, it would trigger a second render while the first one is still in progress. Looking at the Marionette source, I don't see any code to handle and reject a render request when t

[2015-10-08 01:40] Tranfu commented on #2773
@samccone Set the Browser mode to IE8 and the Document Mode to IE8 to get IE9 to pretend to be IE8. Hello Marionette Example http://jsfiddle.net/samccone/F59qp/

[2015-10-08 01:54] Tranfu commented on #2773
@samccone copy the code from Hello Marionette Example http://jsfiddle.net/samccone/F59qp/ into a html file and open it in IE. You will get this IE Error.

[2015-10-08 02:05] paulfalgout commented on #2773
This fiddle uses jquery 2.x which is incompatible with ie8. Perhaps this is your issue?  I run a very complex app in ie8 with no issue

[2015-10-08 02:48] Tranfu commented on #2773
@paulfalgout just checked my jquery is v1.11.3 underscore 1.8.3 backbone 1.2.3 marionette 2.4.3.
no error occurs if I comment line 18 //App.appRegion.show(view); in Hello Marionette Example http://jsfiddle.net/samccone/F59qp/

[2015-10-08 19:04] MeoMix commented on #2749
Interesting. I see your points.

What do you think the situation calls for? Personally, I do feel that Marionette's current interactions with the DOM feel antiquated. Does this mean Mn needs it's own type of "incremental dom" which is baked into the framework itself? Or is this a more inherent shortcoming of Mn which means it will always require a more manual manipulation of DOM state?

[2015-10-08 19:25] jridgewell commented on #2749
I'm going to disagree here, but first I'm going to agree with what you said next:

Yes these virtual-DOM/component libraries provide a fundamentally different way to to build apps that eliminate a lot of what Backbone/Marionette do.

So back to the first comment. We don't need the full benefit here, just a better way to update the DOM than the current `this.$el.html(...)`. That's just too damn slo

[2015-10-08 19:36] fabien commented on #1685
@jmeas it appears that in the end it's still not possible to have scoping unless `el` is already defined (e.g. the view has been rendered). Am I missing something?

[2015-10-08 19:42] jmeas commented on #1685
@fabien what do you mean? Can you provide more info?

[2015-10-08 19:46] fabien commented on #1685
Well, unless the LayoutView has already been rendered, the `parentEl` that is passed in here will be `undefined` - which is always the case for template based layouts:

https://github.com/marionettejs/backbone.marionette/blob/master/src/layout-view.js#L107

However, if I take out this `this._isFirstRender` clause, and let `this._reinitializeRegions` run, it will work fine, and the region selector

[2015-10-08 19:50] jmeas commented on #1685
Make a new issue? //cc @megawac

[2015-10-08 21:01] fabien commented on #1685
@jmeas I don't have the time right now, sorry.

My current workaround to have the regions correctly scoped and available when I need them:

[code]

[2015-10-08 22:57] thejameskyle commented on #2749
If you use plain string-based templates they are actually generally faster than any virtual-dom implementation (although they generally use more memory). I don't see performance as a benefit at all.

The main benefits are:
- uniform method for creating/updating dom.
- non-destructive updates to dom.

However, as I mentioned, once you are authoring views this way, almost all of Marionette's functio

[2015-10-09 07:52] Tranfu commented on #2773
IE Tester ->  IE8 has the same error.

[2015-10-09 16:12] samccone commented on #2773
going to defer this to @paulfalgout I do not have a windows box to test on atm

[2015-10-09 16:18] paulfalgout commented on #2773
I've assigned it to myself.  My laptop was stolen while on vacation so it'll be a bit before I can look into it specifically.  I do want to track it down.  However as previously mentioned, I run a non-trivial app that surely is doing exactly what this fiddle is doing without issue..  not sure what the difference might be here.

[2015-10-09 16:25] jridgewell commented on #2773
Like @paulfalgout [said](https://github.com/marionettejs/backbone.marionette/issues/2773#issuecomment-146393304), the fiddle is running jQuery 2 which won't work with old IE. Here's the fiddle [updated](http://jsfiddle.net/F59qp/41/) to run with jQuery 1.11, [working perfectly](https://dl.dropboxusercontent.com/spa/keyy7k9vgnogrqa/3m_8ikh3.png).

[2015-10-09 16:27] samccone commented on #2773
will wait @Tranfu 's response before we close again :) thanks a ton @jridgewell

[2015-10-09 16:27] paulfalgout commented on #2773
@jridgewell big thanks!
That was my expectation.

@Tranfu are you using a package manager?  perhaps you're getting a 2.x version of jQuery somewhere you weren't expecting.  Again though there are some edge cases in which IE8 cannot append to a tag.. so this might be specific to your use-case as well.

[2015-10-10 01:29] Tranfu commented on #2773
I found the difference. <div id="app"></div> the fiddle is doing without issue. If try this <section id="app"></section>, IE error Unexpected call to method or property. Just div and section, why?! why?!

[2015-10-10 02:12] paulfalgout commented on #2773
Section is html5. If you aren't using the html5shim this is the result.  I think this is solved.

[2015-10-10 02:12] #2773 closed

[2015-10-10 02:34] Tranfu commented on #2773
Solved. Thanks!

[2015-10-10 13:34] paulfalgout commented on #2781
you can use `getTemplate` to determine which template to load..  set a flag if need be in your updateUI and call `render`   You also don't need to call `initialize` on the prototype it's a noop.  And you could use `modelEvents: { sync: 'updateUI' }`

[2015-10-10 13:34] #2781 closed

[2015-10-12 06:59] JSteunou commented on #2761
@rafde yes, for those using Module as a namespace system, but not for those using Module as a subapp system and already having requirejs / browserify / webpack / <add your loader>

[2015-10-13 11:52] jaapz opened #2782 "CompositeView mistakenly documents itemViewContainer, while it should be childViewContainer"
This page in particular: http://marionettejs.com/docs/v1.7/marionette.compositeview.html#compositeviews-itemviewcontainer

An `itemViewContainer` is documented, while `childViewContainer` is the actual name.

[2015-10-13 14:04] jaapz commented on #2782
Was looking at older docs... Sorry!

[2015-10-13 14:04] #2782 closed

[2015-10-14 17:20] MeoMix opened #2783 "LayoutView childEvents: Allow for filtering based on region."
Consider the following:

[code]

It would be nice to be able to filter whether an event comes from the dialog1 or dialog2 region. Similar to in 'events' where the selector filters how/when event handlers run.

This would allow for:

[code]

[2015-10-14 17:23] russplaysguitar commented on #2783
:+1:

[2015-10-14 20:46] MeoMix opened #2784 "Question: How to appropriately architect and manage coupling with behaviors?"
Hey all,

Just had a solid 1+ hr discussion with a coworker regarding this. I'm going to leave my response here completely unbiased and not hint which side I preferred.

We've got a bunch of `WidgetView` instances on the page. Some `WidgetView` instances can be editable and others are not editable. As such, we've got a behavior, `EditableWidgetBehavior`, which helps keep the logic for editing a `W

[2015-10-15 01:38] Tranfu commented on #2783
:+1:

[2015-10-15 22:58] jbarreiros opened #2785 "Trigger handler arguments"
Not sure if this is simply a documentation issue or a bug.

The docs at http://marionettejs.com/docs/marionette.view.html#trigger-handler-arguments show
[code]

Messing around with childview:* events (from a CompositeView) and the arguments actually look like `[ItemView object], {collection: *, model: *, view: *}`.

I'm guessing the docs are incorrect since most events pass the object that trigger

[2015-10-15 23:18] blikblum commented on #2785
When using childview events there's an extra argument (the child view instance) compared when childview is not used.

As an example see http://codepen.io/blikblum/pen/QjMmWw
Open the console and see output for onSaveModel and onChildviewSaveModel

Anyway is an inconsistency

[2015-10-16 20:06] MeoMix opened #2786 "LayoutView childEvents: Does not respond to child triggering event from within onRender"
http://codepen.io/anon/pen/MaOyKz

	var ChildView = Marionette.LayoutView.extend({
	  template: false,
	  onRender: function(){
		console.log('onRender');
		this.triggerMethod('content:updated');

		_.defer(function(){
		  console.log('_defer onRender');
		  this.triggerMethod('content:updated');
		}.bind(this));
	  }
	});

	var ParentView = Marionette.LayoutView.extend({
	  template: _.template('

[2015-10-21 01:38] jasonmng opened #2787 "Feature Request: Behavior options should be set with Marionette._getValue"
Since _.extend() doesn't do a deep clone, I ran into reference issues

[2015-10-21 04:14] cusial opened #2788 "CollectionView can Add new child views for models which are no longer in the collection"
it is possible to have a process which removes models from a collection if they fail certain criteria, and have the collection view which is listening to that collection carry on and add a view for that model, even it was removed.

Currently the CollectionView tests for the model's index within the collection, but if it finds no index it still adds a new childView. I think it should not do that. t

[2015-10-21 08:21] anianj opened #2789 "detach everything before render to avoid event missing."
the default attachElContent of Item-View is:

attachElContent: function(html) {
    this.$el.html(html);
    return this;
}
This will cause all your events bind to the subviews to miss.

make it as the following will avoid the missing of events on subviews:

attachElContent: function(html) {
    this.$el.conents().detach()
    this.$el.html(html);
    return this;
}

Should me make a pull request

[2015-10-23 07:16] JSteunou commented on #2787
Maybe you should define your behaviors as a function returning an object / hash.

[2015-10-23 12:57] jasonmng commented on #2787
I don't think I understand, are you saying I should do something like this?

[code]

Because if you are, that is what I'm asking to be able to do.

[2015-10-23 15:39] JSteunou commented on #2787
nope:

[code]

most hash attributes can defined as function returning a hash.

[2015-10-23 17:47] jasonmng commented on #2787
Thanks! I did not know you could do this.  I still feel, however, that this would be a good addition:
[code]

[2015-10-23 20:55] gdtrice commented on #2497
:cry:

[2015-10-27 12:43] andrei-placinta-sociomantic opened #2793 "Bug: `childEvents` along with a function which returns hash doesn't work"
The problem:
you are not be able to use `childEvents` along with function which returns hash (only simple hash can be used).
But according to doc, you should able to:
http://marionettejs.com/docs/v2.4.3/marionette.layoutview.html#layoutview-childevents
E.g. `onSomeEventMethod` will never be called:
`childEvents: function () {  return { 'someEvent': 'onSomeEventMethod' };  }`

The minimal working e

[2015-10-28 13:31] scott-w opened #2795 "Better error messages"
When I'm using Marionette, I'll occasionally make errors such as accessing a region that doesn't exist e.g.
[code]

The exception I get comes from inside Marionette as a `Cannot read property currentView of undefined` or `this.getRegion(..) is undefined`. While I can chase the stacktrace back to find out the exact issue, it would be much better if I could get the following error:

[code]

This is

[2015-10-28 13:46] ianbrode opened #2796 "childViewOptions has no access to parent Composite/CollectionView"
If you pass a function to childViewOptions, it has no access to parent view. Only model and index are passed as function arguments.

If I try to use ES6 arrow function and use 'this' to access parent view properties in childViewOptions, it is resolved as 'undefined'.

Would be handy if 'this' will point to collection/composite view or function will receive it as argument along side with model and

[2015-10-28 14:33] ianbrode commented on #2796
hm... found out I wasn't using it properly

the right way:
[code]

wrong way

[code]

[2015-10-28 14:33] #2796 closed

[2015-10-28 16:21] msiconolfi opened #2797 "CollectionView.reorder() filter not working when filter function produces subset of existing children."
This is my first issue, so maybe I am using the library wrong, but when I run the `reorder()` function on a `CollectionView`, the filter function doesn't seem to behave the way I would expect. If my filter function reduces the items in the collection to a subset of the currently rendered models then all the models are still rendered even if they should be filtered out by the filter function on the

[2015-10-28 18:08] msiconolfi commented on #2797
I created this [pull request](https://github.com/marionettejs/backbone.marionette/issues/2799) however I seem to be getting a [build error](https://travis-ci.org/marionettejs/backbone.marionette/builds/87948938) which seems to be an `npm` problem not a problem with the source code. Does anyone know how to try to rebuild?